USE [HRDW]
GO
/****** Object:  View [dbo].[vDutyStationCodeStateRegionLkup]    Script Date: 5/1/2018 1:44:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vDutyStationCodeStateRegionLkup] WITH SCHEMABINDING 
-- 2016-03-08 Rob Cornelsen updated to add WITH SCHEMABINDING
    AS 
    SELECT [DutyStationCodeStateRegionLkupID]
      ,[DutyStationCode]
      ,[DutyStationStateOrCountry]
      ,[RegionBasedOnDutyStation]
      ,[DataSource]
      ,[SystemSource]
      ,[AsOfDate] 
    FROM [dbo].DutyStationCodeStateRegionLkup;

GO
