USE [HRDW]
GO
/****** Object:  View [dbo].[vTssTDS]    Script Date: 5/1/2018 1:44:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vTssTDS] WITH SCHEMABINDING 
-- 2016-03-08 Rob Cornelsen updated to match table structure
    AS 
    SELECT [TssTDSID]
      ,[PersonID]
      ,[AccreditationIndicatorCode]
      ,[AccreditationIndicatorDesc]
      ,[AgencyCodeSubelement]
      ,[ContServiceAgreementSigned]
      ,[CourseCompletionDate]
      ,[CourseStartDate]
      ,[CreditDesignationCode]
      ,[CreditDesignationDesc]
      ,[CreditTypeDesc]
      ,[CreditTypeCode]
      ,[DutyHours]
      ,[FiscalYear]
      ,[ImpactOnPerformanceCode]
      ,[ImpactOnPerformanceDesc]
      ,[MaterialCost]
      ,[NonGOvernmentContributionCost]
      ,[NonDutyHours]
      ,[NumberofAssociates]
      ,[OccupationalSeriesCode]
      ,[OccupationalSeriesDesc]
      ,[OrganizationName]
      ,[PayPlan]
      ,[PerdiemCost]
      ,[PriorKnowledgeLevelCode]
      ,[PriorKnowledgeLevelDesc]
      ,[PriorSupvApprovalReceivedCode]
      ,[PriorSupvApprovalReceivedDesc]
      ,[RecommendTrainingToOthersCode]
      ,[RecommendTrainingToOthersDesc]
      ,[RepaymentAgreementRequiredCode]
      ,[RepaymentAgreementRequiredDesc]
      ,[SourceType]
      ,[TrainingCredit]
      ,[TrainingDeliveryTypeCode]
      ,[TrainingDeliveryTypeDesc]
      ,[TrainingLocation]
      ,[TrainingPartOfIDPCode]
      ,[TrainingPartOfIDPDesc]
      ,[TrainingPurposeCode]
      ,[TrainingPurposeDesc]
      ,[TrainingSourceCode]
      ,[TrainingSourceDesc]
      ,[TrainingSubTypeCode]
      ,[TrainingSubTypeDesc]
      ,[TrainingTitle]
      ,[TrainingTravelIndicator]
      ,[TrainingTypeCode]
      ,[TrainingTypeDesc]
      ,[TravelCosts]
      ,[TutionAndFees]
      ,[TypeOfPaymentCode]
      ,[TypeOfPaymentDesc]
      ,[VendorName]
      ,[DataSource]
      ,[SystemSource]
      ,[AsOfDate]
    FROM [dbo].[TssTDS]

GO
