USE [HRDW]
GO
/****** Object:  View [dbo].[vTransactions]    Script Date: 5/1/2018 1:44:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vTransactions] WITH SCHEMABINDING 
-- 2016-01-27 Rob Cornelsen -- Updated as per 2297
-- 2016-03-08 Rob Cornelsen updated to match table structure
    AS 
    SELECT [TransactionsID]
      ,[PersonID]
      ,[RunDate]
      ,[EffectiveDate]
      ,[FYDESIGNATION]
      ,[FAMILY_NOACS]
      ,[NOAC_AND_DESCRIPTION]
      ,[FirstActionLACode1]
      ,[FirstActionLADesc1]
      ,[FirstActionLACode2]
      ,[FirstActionLADesc2]
      ,[SecondNOACode]
      ,[SecondNOADesc]
      ,[TenureDesc]
      ,[AppointmentTypeDesc]
      ,[TypeOfEmploymentDesc]
      ,[VeteransPreferenceDesc]
      ,[VeteransStatusDesc]
      ,[WorkScheduleDesc]
      ,[ReasonForSeparationDesc]
      ,[SupvMgrProbCompletion]
      ,[SupvMgrProbBeginDate]
      ,[DateConvCareerBegins]
      ,[DateConvCareerDue]
      ,[AwardTypeDesc]
      ,[ToAppropriationCode1]
      ,[Pathways]
      ,[SCEP_STEP_PMF]
      ,[Flex2]
      ,[PathwaysProgramStartDate]
      ,[PathwaysProgramEndDate]
      ,[PathwaysProgramExtnEndDate]
      ,[FromOfficeSymbol]
      ,[FromLongName]
      ,[ToOfficeSymbol]
      ,[ToLongName]
      ,[FromPositionAgencyCodeSubelementDescription]
      ,[ToPositionAgencyCodeSubelementDescription]
      ,[WhatKindofMovement]
      ,[FromPositionControlNumberIndicatorDescription]
      ,[FromPositionControlNumberIndicator]
      ,[FromPositionControlNumber]
      ,[FromPDNumber]
      ,[FromPositionSequenceNumber]
      ,[FromPPSeriesGrade]
      ,[FromPositionTargetGradeorLevel]
      ,[ToPositionControlNumberIndicatorDescription]
      ,[ToPositionControlNumberIndicator]
      ,[ToPositionControlNumber]
      ,[ToPDNumber]
      ,[ToPositionSequenceNumber]
      ,[ToPPSeriesGrade]
      ,[ToPositionTargetGradeorLevel]
      ,[FromPayBasis]
      ,[ToPayBasis]
      ,[FPL]
      ,[ToFLSACateGOry]
      ,[FromPositionTitle]
      ,[ToPositionTitle]
      ,[DutyStationNameandStateCountry]
      ,[FromRegion]
      ,[ToRegion]
      ,[FromServicingRegion]
      ,[ToServicingRegion]
      ,[ToPOI]
      ,[ToBargainingUnitStatusDesc]
      ,[FromPosSupervisorySatusDesc]
      ,[ToSupervisoryStatusDesc]
      ,[NewSupervisor]
      ,[EmployeeNumber]
      ,[NOAFamilyCode]
      ,[ReasonForSeparation]
      ,[RetirementPlan]
      ,[RetirementPlanDesc]
      ,[MandatoryRetirementDate]
      ,[Tenure]
      ,[TypeOfEmployment]
      ,[AppointmentType]
      ,[AgencyCodeTransferFrom]
      ,[AgencyCodeTransferFromDesc]
      ,[AgencyCodeTransferTo]
      ,[AgencyCodeTransferToDesc]
      ,[FromPositionAgencyCodeSubelement]
      ,[ToPositionAgencyCodeSubelement]
      ,[ToDutyStationCode]
      ,[FromStepOrRate]
      ,[ToStepOrRate]
      ,[HireDate]
      ,[IncentivePaymentOptionCode]
      ,[IncentivePaymentOptionDesc]
      ,[IncentivePaymentTypeCategroy]
      ,[RetentionIncentiveReviewDate]
      ,[TotalIncentiveAmountPercent]
      ,[AwardAppropriationCode]
      ,[AwardApprovinGOfficialName]
      ,[AwardJustification]
      ,[AwardType]
      ,[AwardTypeDesc1]
      ,[AwardUOM]
      ,[FromBasicPay]
      ,[ToBasicPay]
      ,[FromAdjustedBasicPay]
      ,[ToAdjustedBasicPay]
      ,[FromTotalPay]
      ,[ToTotalPay]
      ,[DataSource]
      ,[SystemSource]
      ,[AsOfDate]
    FROM [dbo].[Transactions]

GO
