USE [HRDW]
GO
/****** Object:  View [dbo].[TrainingView_rs-creation]    Script Date: 5/1/2018 1:44:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TrainingView_rs-creation]
AS
SELECT        TOP (100) PERCENT dbo.Person.LastName, dbo.Person.FirstName, dbo.Person.MiddleName, dbo.PositionInfo.PositionTitle, dbo.PositionInfo.PayPlan, 
                         dbo.PositionInfo.PositionSeries, dbo.PositionInfo.Grade, dbo.Person.EmailAddress, dbo.PositionDate.LatestHireDate, dbo.Position.PosOrgAgySubelementDesc, 
                         dbo.TssTDS.TrainingTitle, dbo.TssTDS.CourseCompletionDate, dbo.TssTDS.CourseStartDate, dbo.TssTDS.NonDutyHours, dbo.TssTDS.DutyHours, 
                         dbo.PositionInfo.SupervisoryStatusDesc, dbo.PositionInfo.SupervisoryStatusCode
FROM            dbo.TssTDS INNER JOIN
                         dbo.Person ON dbo.TssTDS.PersonID = dbo.Person.PersonID INNER JOIN
                         dbo.Position ON dbo.Person.PersonID = dbo.Position.PersonID INNER JOIN
                         dbo.PositionDate ON dbo.Position.PositionDateID = dbo.PositionDate.PositionDateID INNER JOIN
                         dbo.PositionInfo ON dbo.Position.ChrisPositionID = dbo.PositionInfo.PositionInfoID
WHERE        (dbo.PositionInfo.SupervisoryStatusCode = N'2' OR
                         dbo.PositionInfo.SupervisoryStatusCode = N'4' OR
                         dbo.PositionInfo.SupervisoryStatusCode = N'5')
ORDER BY dbo.Person.LastName, dbo.TssTDS.CourseCompletionDate DESC

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[37] 4[37] 2[8] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TssTDS"
            Begin Extent = 
               Top = 0
               Left = 663
               Bottom = 295
               Right = 946
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Person"
            Begin Extent = 
               Top = 0
               Left = 388
               Bottom = 294
               Right = 638
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Position"
            Begin Extent = 
               Top = 37
               Left = 0
               Bottom = 166
               Right = 274
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PositionDate"
            Begin Extent = 
               Top = 189
               Left = 0
               Bottom = 318
               Right = 254
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PositionInfo"
            Begin Extent = 
               Top = 92
               Left = 436
               Bottom = 221
               Right = 721
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 18
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         W' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TrainingView_rs-creation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'idth = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3210
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 3165
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TrainingView_rs-creation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TrainingView_rs-creation'
GO
