USE [HRDW]
GO
/****** Object:  View [Performance].[vALPHAORG_DiffYrsPosnWithPerformance]    Script Date: 5/1/2018 1:44:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [Performance].[vALPHAORG_DiffYrsPosnWithPerformance] as



SELECT

DISTINCT CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate AS DATE) AS'RecordDte' 
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PersonID]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[SocialSecurity]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[EncumberedType]
,Cast(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LatestHireDte] as Date) as 'LatestHireDate'
,CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LastSeparationDte] AS DATE) AS 'LastSeparationDte'
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.FullName
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSupervisor]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCN]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCNIndicatorDesc]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PDNumber]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSequenceNum]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[MCOMissionCriticalOccupations]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[OCOOrganizationalCriticalOccupations]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PosnTitle
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PPSeriesGr
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.SteporRate
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitCode
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOAbbrev
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOLong
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.AgcySubElementDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationName]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationCounty]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationStateCountry]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[RegionBasedOnDutyStation]
,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2005-09-30' THEN [Performance].[vAnnualPerformance].[FY2005] ELSE NULL END AS 'Rating'
--,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2009-09-30' THEN [Performance].[vAnnualPerformance].[FY2009HIGH3] ELSE NULL END AS'HIGH3'
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[FYDESIGNATION]

FROM     Performance.vAnnualPerformance RIGHT OUTER JOIN
                  LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016 ON 
                  Performance.vAnnualPerformance.PersonID = LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID 
				  LEFT OUTER JOIN
                  dbo.PerformanceRating ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.PerformanceRating.PersonID 
				  LEFT OUTER JOIN
                  dbo.Person ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.Person.PersonID
WHERE  (LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2005-09-30')
AND [Performance].[vAnnualPerformance].[AppraisalTypeDescription]='Annual' AND [Performance].[vAnnualPerformance].[AppraisalStatus]='COMPLETED'

UNION --"A" ADD ON 

SELECT

DISTINCT CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate AS DATE) AS'RecordDte' 
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PersonID]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[SocialSecurity]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[EncumberedType]
,Cast(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LatestHireDte] as Date) as 'LatestHireDate'
,CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LastSeparationDte] AS DATE) AS 'LastSeparationDte'
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.FullName
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSupervisor]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCN]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCNIndicatorDesc]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PDNumber]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSequenceNum]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[MCOMissionCriticalOccupations]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[OCOOrganizationalCriticalOccupations]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PosnTitle
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PPSeriesGr
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.SteporRate
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitCode
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOAbbrev
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOLong
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.AgcySubElementDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationName]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationCounty]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationStateCountry]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[RegionBasedOnDutyStation]
,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2006-09-30' THEN [Performance].[vAnnualPerformance].[FY2006] ELSE NULL END AS 'Rating'
--,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2009-09-30' THEN [Performance].[vAnnualPerformance].[FY2009HIGH3] ELSE NULL END AS'HIGH3'
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[FYDESIGNATION]

FROM     Performance.vAnnualPerformance RIGHT OUTER JOIN
                  LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016 ON 
                  Performance.vAnnualPerformance.PersonID = LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID 
				  LEFT OUTER JOIN
                  dbo.PerformanceRating ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.PerformanceRating.PersonID 
				  LEFT OUTER JOIN
                  dbo.Person ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.Person.PersonID
WHERE  (LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2006-09-30')
AND [Performance].[vAnnualPerformance].[AppraisalTypeDescription]='Annual' AND [Performance].[vAnnualPerformance].[AppraisalStatus]='COMPLETED'


UNION --"B" ADD ON

SELECT

DISTINCT CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate AS DATE) AS'RecordDte' 
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PersonID]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[SocialSecurity]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[EncumberedType]
,Cast(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LatestHireDte] as Date) as 'LatestHireDate'
,CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LastSeparationDte] AS DATE) AS 'LastSeparationDte'
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.FullName
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSupervisor]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCN]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCNIndicatorDesc]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PDNumber]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSequenceNum]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[MCOMissionCriticalOccupations]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[OCOOrganizationalCriticalOccupations]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PosnTitle
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PPSeriesGr
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.SteporRate
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitCode
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOAbbrev
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOLong
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.AgcySubElementDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationName]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationCounty]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationStateCountry]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[RegionBasedOnDutyStation]
,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2007-09-30' THEN [Performance].[vAnnualPerformance].[FY2007] ELSE NULL END AS 'Rating'
--,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2009-09-30' THEN [Performance].[vAnnualPerformance].[FY2009HIGH3] ELSE NULL END AS'HIGH3'
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[FYDESIGNATION]

FROM     Performance.vAnnualPerformance RIGHT OUTER JOIN
                  LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016 ON 
                  Performance.vAnnualPerformance.PersonID = LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID 
				  LEFT OUTER JOIN
                  dbo.PerformanceRating ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.PerformanceRating.PersonID 
				  LEFT OUTER JOIN
                  dbo.Person ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.Person.PersonID
WHERE  (LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2007-09-30')
AND [Performance].[vAnnualPerformance].[AppraisalTypeDescription]='Annual' AND [Performance].[vAnnualPerformance].[AppraisalStatus]='COMPLETED'


UNION --"C" ADD ON 

SELECT
DISTINCT CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate AS DATE) AS'RecordDte' 
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PersonID]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[SocialSecurity]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[EncumberedType]
,Cast(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LatestHireDte] as Date) as 'LatestHireDate'
,CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LastSeparationDte] AS DATE) AS 'LastSeparationDte'
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.FullName
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSupervisor]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCN]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCNIndicatorDesc]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PDNumber]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSequenceNum]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[MCOMissionCriticalOccupations]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[OCOOrganizationalCriticalOccupations]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PosnTitle
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PPSeriesGr
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.SteporRate
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitCode
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOAbbrev
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOLong
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.AgcySubElementDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationName]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationCounty]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationStateCountry]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[RegionBasedOnDutyStation]
,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2008-09-30' THEN [Performance].[vAnnualPerformance].[FY2008] ELSE NULL END AS 'Rating'
--,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2009-09-30' THEN [Performance].[vAnnualPerformance].[FY2009HIGH3] ELSE NULL END AS'HIGH3'
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[FYDESIGNATION]

FROM     Performance.vAnnualPerformance RIGHT OUTER JOIN
                  LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016 ON 
                  Performance.vAnnualPerformance.PersonID = LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID 
				  LEFT OUTER JOIN
                  dbo.PerformanceRating ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.PerformanceRating.PersonID 
				  LEFT OUTER JOIN
                  dbo.Person ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.Person.PersonID
WHERE  (LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2008-09-30')
AND [Performance].[vAnnualPerformance].[AppraisalTypeDescription]='Annual' AND [Performance].[vAnnualPerformance].[AppraisalStatus]='COMPLETED'


UNION --"D" ADD ON 
SELECT

DISTINCT CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate AS DATE) AS'RecordDte' 
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PersonID]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[SocialSecurity]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[EncumberedType]
,Cast(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LatestHireDte] as Date) as 'LatestHireDate'
,CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LastSeparationDte] AS DATE) AS 'LastSeparationDte'
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.FullName
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSupervisor]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCN]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCNIndicatorDesc]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PDNumber]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSequenceNum]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[MCOMissionCriticalOccupations]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[OCOOrganizationalCriticalOccupations]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PosnTitle
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PPSeriesGr
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.SteporRate
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitCode
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOAbbrev
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOLong
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.AgcySubElementDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationName]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationCounty]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationStateCountry]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[RegionBasedOnDutyStation]
,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2009-09-30' THEN [Performance].[vAnnualPerformance].[FY2009] ELSE NULL END AS 'Rating'
--,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2009-09-30' THEN [Performance].[vAnnualPerformance].[FY2009HIGH3] ELSE NULL END AS'HIGH3'
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[FYDESIGNATION]

FROM     Performance.vAnnualPerformance RIGHT OUTER JOIN
                  LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016 ON 
                  Performance.vAnnualPerformance.PersonID = LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID 
				  LEFT OUTER JOIN
                  dbo.PerformanceRating ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.PerformanceRating.PersonID 
				  LEFT OUTER JOIN
                  dbo.Person ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.Person.PersonID
WHERE  (LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2009-09-30')
AND [Performance].[vAnnualPerformance].[AppraisalTypeDescription]='Annual' AND [Performance].[vAnnualPerformance].[AppraisalStatus]='COMPLETED'

UNION--1ST

SELECT DISTINCT CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate AS DATE) AS'RecordDte' 
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PersonID]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[SocialSecurity]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[EncumberedType]
,Cast(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LatestHireDte] as Date) as 'LatestHireDate'
,CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LastSeparationDte] AS DATE) AS 'LastSeparationDte'
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.FullName
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSupervisor]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCN]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCNIndicatorDesc]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PDNumber]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSequenceNum]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[MCOMissionCriticalOccupations]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[OCOOrganizationalCriticalOccupations]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PosnTitle
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PPSeriesGr
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.SteporRate
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitCode
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOAbbrev
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOLong
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.AgcySubElementDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationName]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationCounty]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationStateCountry]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[RegionBasedOnDutyStation]
,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2010-09-30' THEN [Performance].[vAnnualPerformance].[FY2010] ELSE NULL END AS 'Rating'
--,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2010-09-30' THEN [Performance].[vAnnualPerformance].[FY2010HIGH3] ELSE NULL END AS'HIGH3'
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[FYDESIGNATION]


FROM     Performance.vAnnualPerformance RIGHT OUTER JOIN
                  LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016 ON 
                  Performance.vAnnualPerformance.PersonID = LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID 
				  LEFT OUTER JOIN
                  dbo.PerformanceRating ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.PerformanceRating.PersonID 
				  LEFT OUTER JOIN
                  dbo.Person ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.Person.PersonID
WHERE  (LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2010-09-30')
AND [Performance].[vAnnualPerformance].[AppraisalTypeDescription]='Annual' AND [Performance].[vAnnualPerformance].[AppraisalStatus]='COMPLETED'

UNION--2ND

SELECT DISTINCT CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate AS DATE) AS'RecordDte' 
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PersonID]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[SocialSecurity]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[EncumberedType]
,Cast(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LatestHireDte] as Date) as 'LatestHireDate'
,CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LastSeparationDte] AS DATE) AS 'LastSeparationDte'
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.FullName
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSupervisor]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCN]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCNIndicatorDesc]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PDNumber]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSequenceNum]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[MCOMissionCriticalOccupations]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[OCOOrganizationalCriticalOccupations]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PosnTitle
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PPSeriesGr
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.SteporRate
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitCode
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOAbbrev
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOLong
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.AgcySubElementDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationName]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationCounty]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationStateCountry]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[RegionBasedOnDutyStation]
,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2011-09-30' THEN [Performance].[vAnnualPerformance].[FY2011] ELSE NULL END AS 'Rating'
--,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2011-09-30' THEN [Performance].[vAnnualPerformance].[FY2011HIGH3] ELSE NULL END AS'HIGH3'
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[FYDESIGNATION]


FROM     Performance.vAnnualPerformance RIGHT OUTER JOIN
                  LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016 ON 
                  Performance.vAnnualPerformance.PersonID = LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID 
				  LEFT OUTER JOIN
                  dbo.PerformanceRating ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.PerformanceRating.PersonID 
				  LEFT OUTER JOIN
                  dbo.Person ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.Person.PersonID
WHERE  (LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2011-09-30')
AND [Performance].[vAnnualPerformance].[AppraisalTypeDescription]='Annual' AND [Performance].[vAnnualPerformance].[AppraisalStatus]='COMPLETED'

UNION--3RD

SELECT DISTINCT CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate AS DATE) AS'RecordDte' 
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PersonID]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[SocialSecurity]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[EncumberedType]
,Cast(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LatestHireDte] as Date) as 'LatestHireDate'
,CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LastSeparationDte] AS DATE) AS 'LastSeparationDte'
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.FullName
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSupervisor]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCN]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCNIndicatorDesc]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PDNumber]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSequenceNum]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[MCOMissionCriticalOccupations]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[OCOOrganizationalCriticalOccupations]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PosnTitle
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PPSeriesGr
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.SteporRate
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitCode
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOAbbrev
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOLong
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.AgcySubElementDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationName]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationCounty]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationStateCountry]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[RegionBasedOnDutyStation]
,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2012-09-30' THEN [Performance].[vAnnualPerformance].[FY2012] ELSE NULL END AS 'Rating'
--,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2012-09-30' THEN [Performance].[vAnnualPerformance].[FY2012HIGH3] ELSE NULL END AS'HIGH3'
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[FYDESIGNATION]


FROM     Performance.vAnnualPerformance RIGHT OUTER JOIN
                  LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016 ON 
                  Performance.vAnnualPerformance.PersonID = LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID 
				  LEFT OUTER JOIN
                  dbo.PerformanceRating ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.PerformanceRating.PersonID 
				  LEFT OUTER JOIN
                  dbo.Person ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.Person.PersonID
WHERE  (LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2012-09-30')
AND [Performance].[vAnnualPerformance].[AppraisalTypeDescription]='Annual' AND [Performance].[vAnnualPerformance].[AppraisalStatus]='COMPLETED'

UNION --4TH

SELECT DISTINCT CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate AS DATE) AS'RecordDte' 

,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PersonID]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[SocialSecurity]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[EncumberedType]
,Cast(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LatestHireDte] as Date) as 'LatestHireDate'
,CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LastSeparationDte] AS DATE) AS 'LastSeparationDte'
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.FullName
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSupervisor]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCN]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCNIndicatorDesc]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PDNumber]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSequenceNum]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[MCOMissionCriticalOccupations]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[OCOOrganizationalCriticalOccupations]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PosnTitle
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PPSeriesGr
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.SteporRate
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitCode
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOAbbrev
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOLong
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.AgcySubElementDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationName]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationCounty]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationStateCountry]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[RegionBasedOnDutyStation]
,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2013-09-30' THEN [Performance].[vAnnualPerformance].[FY2013] ELSE NULL END AS 'Rating'
--,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2013-09-30' THEN [Performance].[vAnnualPerformance].[FY2013HIGH3] ELSE NULL END AS'HIGH3'
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[FYDESIGNATION]


FROM     Performance.vAnnualPerformance RIGHT OUTER JOIN
                  LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016 ON 
                  Performance.vAnnualPerformance.PersonID = LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID 
				  LEFT OUTER JOIN
                  dbo.PerformanceRating ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.PerformanceRating.PersonID 
				  LEFT OUTER JOIN
                  dbo.Person ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.Person.PersonID
WHERE  (LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2013-09-30')
AND [Performance].[vAnnualPerformance].[AppraisalTypeDescription]='Annual' AND [Performance].[vAnnualPerformance].[AppraisalStatus]='COMPLETED'

UNION--5TH

SELECT DISTINCT CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate AS DATE) AS'RecordDte' 
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PersonID]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[SocialSecurity]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[EncumberedType]
,Cast(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LatestHireDte] as Date) as 'LatestHireDate'
,CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LastSeparationDte] AS DATE) AS 'LastSeparationDte'
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.FullName
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSupervisor]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCN]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCNIndicatorDesc]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PDNumber]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSequenceNum]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[MCOMissionCriticalOccupations]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[OCOOrganizationalCriticalOccupations]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PosnTitle
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PPSeriesGr
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.SteporRate
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitCode
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOAbbrev
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOLong
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.AgcySubElementDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationName]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationCounty]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationStateCountry]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[RegionBasedOnDutyStation]
,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2014-09-30' THEN [Performance].[vAnnualPerformance].[FY2014] ELSE NULL END AS 'Rating'
--,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2014-09-30' THEN [Performance].[vAnnualPerformance].[FY2014HIGH3] ELSE NULL END AS'HIGH3'
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[FYDESIGNATION]


FROM     Performance.vAnnualPerformance RIGHT OUTER JOIN
                  LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016 ON 
                  Performance.vAnnualPerformance.PersonID = LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID 
				  LEFT OUTER JOIN
                  dbo.PerformanceRating ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.PerformanceRating.PersonID 
				  LEFT OUTER JOIN
                  dbo.Person ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.Person.PersonID
WHERE  (LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2014-09-30')
AND [Performance].[vAnnualPerformance].[AppraisalTypeDescription]='Annual' AND [Performance].[vAnnualPerformance].[AppraisalStatus]='COMPLETED'

UNION--6TH

SELECT DISTINCT CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate AS DATE) AS'RecordDte' 
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PersonID]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[SocialSecurity]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[EncumberedType]
,Cast(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LatestHireDte] as Date) as 'LatestHireDate'
,CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LastSeparationDte] AS DATE) AS 'LastSeparationDte'
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.FullName
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSupervisor]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCN]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCNIndicatorDesc]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PDNumber]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSequenceNum]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[MCOMissionCriticalOccupations]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[OCOOrganizationalCriticalOccupations]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PosnTitle
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PPSeriesGr
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.SteporRate
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitCode
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOAbbrev
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOLong
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.AgcySubElementDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationName]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationCounty]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationStateCountry]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[RegionBasedOnDutyStation]
,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2015-09-30' THEN [Performance].[vAnnualPerformance].[FY2015] ELSE NULL END AS 'Rating'
--,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2015-09-30' THEN [Performance].[vAnnualPerformance].[FY2015HIGH3] ELSE NULL END AS'HIGH3'
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[FYDESIGNATION]


FROM     Performance.vAnnualPerformance RIGHT OUTER JOIN
                  LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016 ON 
                  Performance.vAnnualPerformance.PersonID = LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID 
				  LEFT OUTER JOIN
                  dbo.PerformanceRating ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.PerformanceRating.PersonID 
				  LEFT OUTER JOIN
                  dbo.Person ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.Person.PersonID
WHERE  (LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2015-09-30')
AND [Performance].[vAnnualPerformance].[AppraisalTypeDescription]='Annual' AND [Performance].[vAnnualPerformance].[AppraisalStatus]='COMPLETED'

UNION --7TH

SELECT DISTINCT CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate AS DATE) AS'RecordDte' 
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PersonID]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[SocialSecurity]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[EncumberedType]
,Cast(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LatestHireDte] as Date) as 'LatestHireDate'
,CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LastSeparationDte] AS DATE) AS 'LastSeparationDte'
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.FullName
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSupervisor]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCN]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCNIndicatorDesc]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PDNumber]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSequenceNum]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[MCOMissionCriticalOccupations]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[OCOOrganizationalCriticalOccupations]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PosnTitle
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PPSeriesGr
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.SteporRate
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitCode
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOAbbrev
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOLong
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.AgcySubElementDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationName]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationCounty]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationStateCountry]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[RegionBasedOnDutyStation]
,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2016-09-30' THEN [Performance].[vAnnualPerformance].[FY2016] ELSE NULL END AS 'Rating'
--,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2016-09-30' THEN [Performance].[vAnnualPerformance].[FY2016HIGH3] ELSE NULL END AS'HIGH3'
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[FYDESIGNATION]

FROM     Performance.vAnnualPerformance RIGHT OUTER JOIN
                  LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016 ON 
                  Performance.vAnnualPerformance.PersonID = LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID 
				  LEFT OUTER JOIN
                  dbo.PerformanceRating ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.PerformanceRating.PersonID 
				  LEFT OUTER JOIN
                  dbo.Person ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.Person.PersonID
WHERE  (LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2016-09-30')
AND [Performance].[vAnnualPerformance].[AppraisalTypeDescription]='Annual' AND [Performance].[vAnnualPerformance].[AppraisalStatus]='COMPLETED'

UNION

SELECT

DISTINCT CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate AS DATE) AS'RecordDte' 
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PersonID]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[SocialSecurity]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[EncumberedType]
,Cast(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LatestHireDte] as Date) as 'LatestHireDate'
,CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[LastSeparationDte] AS DATE) AS 'LastSeparationDte'
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.FullName
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSupervisor]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCN]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PCNIndicatorDesc]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PDNumber]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PosnSequenceNum]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[MCOMissionCriticalOccupations]
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[OCOOrganizationalCriticalOccupations]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PosnTitle
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PPSeriesGr
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.SteporRate
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitCode
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.BargUnitDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOAbbrev
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.HSSOLong
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.AgcySubElementDesc
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationName]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationCounty]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[DutyStationStateCountry]
, LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[RegionBasedOnDutyStation]
,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2017-09-30' THEN [Performance].[vAnnualPerformance].[FY2017] ELSE NULL END AS 'Rating'
--,CASE WHEN LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2009-09-30' THEN [Performance].[vAnnualPerformance].[FY2009HIGH3] ELSE NULL END AS'HIGH3'
,LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[FYDESIGNATION]

FROM     Performance.vAnnualPerformance RIGHT OUTER JOIN
                  LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016 ON 
                  Performance.vAnnualPerformance.PersonID = LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID 
				  LEFT OUTER JOIN
                  dbo.PerformanceRating ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.PerformanceRating.PersonID 
				  LEFT OUTER JOIN
                  dbo.Person ON LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.PersonID = dbo.Person.PersonID
WHERE  (LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate = '2017-09-30')
AND [Performance].[vAnnualPerformance].[AppraisalTypeDescription]='Annual' AND [Performance].[vAnnualPerformance].[AppraisalStatus]='COMPLETED'



--ORDER BY LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.[PersonID] ASC, CAST(LegacyCHRISBUSINTEL.CHRISBI_930FY2004_2016.RecordDate AS DATE) ASC





GO
