USE [HRDW]
GO
/****** Object:  View [REPORTING].[vNTEDATES_ACCESSIONS]    Script Date: 5/1/2018 1:44:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [REPORTING].[vNTEDATES_ACCESSIONS]
AS 

(SELECT DISTINCT [PersonID],[HireDate] ,[EffectiveDate] 
,CONVERT(VARCHAR,RIGHT([NOAC_AND_DESCRIPTION_2],11),110) AS 'NTE Date'
,[NOAC_AND_DESCRIPTION_2], [NOAC_AND_DESCRIPTION]
FROM [dbo].[Transactions]
WHERE [NOAC_AND_DESCRIPTION_2] LIKE ('%NTE%')
AND LEFT([NOAC_AND_DESCRIPTION_2],3) BETWEEN '100' AND '199')


GO
