USE [HRDW]
GO
/****** Object:  StoredProcedure [dbo].[rv_sp_load_aaPMU]    Script Date: 5/1/2018 1:37:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============ Maintenance Log ================================================
-- Author:      James McConville
-- Date:        2016-05-16  
-- Description: Added new PMU columns to archive table
-- =============================================================================
-- Author:      James McConville
-- Date:        2016-05-20  
-- Description: Added [Last Seperation Date] (misspelled in CHRIS) - this should
--              have been added for the 2016-05-01 dataset
-- =============================================================================
-- Author:      James McConville
-- Date:        2016-05-31  
-- Description: Added NTE columns
-- =============================================================================
-- Author:      James McConville
-- Date:        2017-04-05  
-- Description: Add the following PMU SCD attributes:
--                  [Retirement SCD]      DATE NULL
--                  [SCD Length Of Service] DATE NULL
--                  [SCD RIF]             DATE NULL
--				Note that this data will only exist for PMU data on or after
--              the 04/23/2017 RecordDate.
-- =============================================================================

CREATE procedure [dbo].[rv_sp_load_aaPMU]
with execute as owner		
as

	declare @RecordDate date
	select top 1 @RecordDate = xx.[Record Date] from xxPMU xx

	if @RecordDate in (select isnull(aa.[Record Date],'') from aaPMU aa)
	begin
		print 'PMU data for this Record Date already loaded into aaPMU'  + cast(@RecordDate as char) + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
		print 'No PMU records loaded into aaPMU'
		return
	end

INSERT INTO [dbo].[aaPMU]
    (
    [FY DESIGNATION],
    [Month_Name],
    [Record Date],
    [Safeguard],
    [Social Security],
    [Employee Number],
    [CHRIS Position Information#Office Symbol],
    [Final_2 Letter],
    [Email Address],
    [Full Name],
    [Veterans Preference Description],
    [Veterans Status Description],
    [Work Telephone],
    [Leave Category],
    [First Name],
    [Middle Name],
    [Last Name],
    [Birth Month],
    [CHRIS Position Information#Position Control Number Indicator],
    [Tenure Description],
    [CHRIS Position Information#Position Control Number],
    [CHRIS Position Information#PD Number],
    [CHRIS Position Information#Position Encumbered Type],
    [CHRIS Position Information#Position Title],
    [PP-Series-Grade],
    [Competitive Area Code],
    [Competitive Level Code],
    [CHRIS Position Information#Occupational Series Code],
    [CHRIS Position Information#Occupational Series Description],
    [CHRIS Position Information#Valid Grade Or Level],
    [Step Or Rate],
    [Target Pay Plan],
    [Target Grade Or Level],
    [Duty Station Code],
    [CHRIS Position Information#Duty Station Name],
    [CHRIS Position Information#Duty Station County Name],
    [Duty Station State Or Country],
    [CHRIS Position Information#Supervisory Status Code],
    [CHRIS Position Information#Supervisory Status Description],
    [Work Schedule Description],
    [CHRIS Position Information#Position Sensitivity Description],
    [Bargaining Unit Status Code],
    [Bargaining Unit Status Description],
    [Pos Organization Long Name],
    [F45],
    [Date Prob/Trial Period Begins],
    [Date Prob/Trial Period Ends],
    [Date Conversion Career Due],
    [Date Conversion Career Begins],
    [WGI Date Due],
    [Pathways(Y/N)],
    [Current Appointment Auth (1) Code],
    [Current Appointment Auth (1) Desc],
    [Type of Employment Description],
    [Appointment Type Description],
    [Basic Salary Rate],
    [Adjusted Basic Pay],
    [Total Pay],
    [Per- Hour(Total Salary_Total Pay)],
    [Latest Hire Date],
    [Date VRA Conversion Due],
    [Date Last Promotion],
    [YOSGSA],
    [SCD Civilian],
    [YOS_FEDERAL],
    [SCD Leave],
    [Compute Early Retirment],
    [ERFY],
    [Compute Optional Retirement],
    [ORFY],
    [Owning Region],
    [Servicing Region],
    [Personnel Office ID Description],
    [Pos Org Agy Subelement Desc],
    [Posn_Supervisor],
    [Position Reporting To Information#Supervisor Social Security Num],
    [Team Leaders Name],
    [Appropriation Code 1],
    [Office Symbol(Personnel Org Code)],
    [Organization Code(Budget Finance)],
    [Fund Code],
    [Budget Activity],
    [Cost Element],
    [Object Class],
    [ORG/BA/FC],
    [RR/ORG/BA/FC],
    [Funding Back Fill],
    [Funding Back Fill Description],
    [Funding Full Time Equivalent],
    [CHRIS Position WMT Information#Funding Status Description],
    [CHRIS Position Information#Position Sequence Number],
    [Available for Hiring?],
    [Position Detailed?],
    [CHRIS Obligated Position#Pos Agency Subelement Code Desc],
    [CHRIS Obligated Position#Position Sensitivity Description],
    [CHRIS Obligated Position#Office Symbol],
    [CHRIS Obligated Position#Position Control Number],
    [CHRIS Obligated Position#Position Control Number Indicator],
    [CHRIS Obligated Position#Position Title],
    [CHRIS Obligated Position#PD Number],
    [CHRIS Obligated Position#Position Sequence Number],
    [CHRIS Obligated Position#Occupational Series Code],
    [CHRIS Obligated Position#Occupational Series Description],
    [CHRIS Obligated Position#Supervisory Status Description],
    [CHRIS Obligated Position#Valid Pay Plan],
    [CHRIS Obligated Position#Valid Grade Or Level],
    [Obligated Supervisor's Name],
    [Obligated Team Leader],
    [Detail NTE Start Date],
    [Detail NTE],
    [CHRIS Detailed Position#Office Symbol],
    [CHRIS Detailed Position#Position Control Number],
    [CHRIS Detailed Position#Position Control Number Indicator],
    [CHRIS Detailed Position#Position Title],
    [CHRIS Detailed Position#PD Number],
    [CHRIS Detailed Position#Position Sequence Number],
    [CHRIS Detailed Position#Occupational Series Code],
    [CHRIS Detailed Position#Occupational Series Description],
    [CHRIS Detailed Position#Position Sensitivity Description],
    [CHRIS Detailed Position#Supervisory Status Description],
    [CHRIS Detailed Position#Valid Pay Plan],
    [CHRIS Detailed Position#Valid Grade Or Level],
    [CHRIS Detailed Position WMT Information#Funding Status Descripti],
    [Detail Supervisor],
    [Detail Team Leader],
    [Financial Statement Code],
    [Financial Statement Description],
    [Public Trust Indicator Desc],
    [Public Trust Indicator Code],
    [Pos Address Org Info Line 1],
    [Pos Address Org Info Line 2],
    [Pos Address Org Info Line 3],
    [Pos Address Org Info Line 4],
    [Pos Address Org Info Line 5],
    [Pos Address Org Info Line 6],
    [Date of SES Appointment],
    [Academic Institution Code],
    [Academic Institution Description],
    [College-Major-Minor Code],
    [College-Major-Minor Description],
    [Educational Level Code],
    [Educational Level Desc],
    [Instructional Program Code],
    [Instructional Program Description],
    [Year Degree Cert Attained],
    [Flsa Category Code],
    [Flsa Category Description],
    [CHRIS Position Information#Position Control Number Indicator Des],
    [Block Number Code],
    [Block Number Description],
    [Drug Test Code],
    [Drug Test Description],
    [Birth Date],
    [Key Emergency Essential Code],
    [Key Emergency Essential Description],
    [MCO],
    [WGI Last Equivalent Increase Date],
    [Work Cell Phone Number],
    [Telework Indicator],
    [Telework Indicator Description],
    [Telework Ineligibility Reason],
    [Telework Ineligib Reason Description],
    [Assignment User Status],
    [Detailed Employee Full Name],
    [Position Obligated?],
    [Obligated Employee Full Name],
    [Region(Duty Station)],
    [RNO Code],
    [RNO Description],
    [Race or National Origin Code],
    [Gender Description],
    [Handicap Code],
    [Handicap Code Description],
    [Cybersecurity Code],
    [Cybersecurity Code Desc],
    [Position Reporting To Information#Reporting to Position Office S],
    [CHRIS Position Information#Occupational Category Code],
    [CHRIS Position Information#Occupational Category Description],
    [Date Arrived Personnel Office],
    [Date Arrived Present Grade],
    [Date Arrived Present Position],
    [Just Series],
    [Just Grade],
    [Just HSSO Code],
    [Citizenship Code],
    [Citizenship Description],
    [Pay Period End Date],
    [Pos Org Agy Subelement Code],
    [Obligated Position Reporting To Information#Team Lead Social Sec],
    [Detailed Position Reporting To Information#Team Lead Social Secu],
    [Position Reporting To Information#Team Lead Social Security Numb],
    [Furlough Indicator],
    [Furlough Indicator Desc],
    [Work Address Line 1],
    [Work Address Line 2],
    [Work Address Line 3],
    [Work Building],
    [Work City],
    [Work County],
    [Work State],
    [Work Zip],
    [Current Appointment Auth (2) Code],
    [Current Appointment Auth (2) Desc],
    [Serv05],
    [Serv10],
    [Serv15],
    [Serv20],
    [Serv25],
    [Serv30],
    [Serv35],
    [Serv40],
    [Serv45],
    [Serv50],
    [Annuitant Indicator Description],
    [Annuitant Indicator Code],
    [Reserve Category Code],
    [Reserve Category Description],
    [Retirement Plan Code],
    [Retirement Plan Description],
    [Creditable Military Service],
    [Obligated Position Reporting To Information#Supervisor Social Se],
    [Detailed Position Reporting To Information#Supervisor Social Sec],
    [CHRIS Obligated Position#Supervisory Status Code],
    [CHRIS Obligated Position WMT Information#Funding Status],
    [CHRIS Obligated Position WMT Information#Funding Status Descript],
    [CHRIS Obligated Position#Occupational Category Code],
    [CHRIS Obligated Position#Occupational Category Description],
    [CHRIS Obligated Position#Encumbered Type],
    [CHRIS Detailed Position#Supervisory Status Code],
    [CHRIS Detailed Position WMT Information#Funding Status],
    [CHRIS Detailed Position WMT Information#Funding Status Descript1],
    [CHRIS Detailed Position#Occupational Category Code],
    [CHRIS Detailed Position#Occupational Category Description],
    [CHRIS Detailed Position#Position Encumbered Type],
    [Supv/Mgr Probation Requirement Code],
    [Supv/Mgr Probation Requirement Desc],
    [Date SES Prob Expires],
    [Date Spvr/Mgr Prob Ends],
    [CHRIS Position WMT Information#Funding Status],
    [PersonID],
    [ChrisPositionID],
    [ObligatedPositionID],
    [DetailedPositionID],
    [PayID],
    [DutyStationId],
    [FinancialsID],
    [PersonnelOfficeID],
    [PositionDateID],
    [OrganizationID],

    [AsOfDate]
	,[Last Seperation Date]												-- JJM 2016-05-20 Added
    ,[Pay Rate Determinant Code]										-- JJM 2016-05-20 Added
	,[Pay Rate Determinant Description]									-- JJM 2016-05-20 Added
    ,[Detail Type]														-- JJM 2016-05-16 Added
    ,[Detail Type  Description]											-- JJM 2016-05-16 Added
	,[LWOP NTE]							  -- JJM 2016-05-31 Added
	,[LWOP NTE Start Date]				  -- JJM 2016-05-31 Added
	,[LWP NTE]							  -- JJM 2016-05-31 Added
	,[LWP NTE Start Date]				  -- JJM 2016-05-31 Added
	,[Sabbatical NTE]					  -- JJM 2016-05-31 Added
	,[Sabbatical NTE Start Date]		  -- JJM 2016-05-31 Added
	,[Suspension NTE]					  -- JJM 2016-05-31 Added
	,[Suspension NTE Start Date]		  -- JJM 2016-05-31 Added
	,[Temp Promotion NTE Date]	          -- JJM 2016-05-31 Added
	,[Temp Promotion NTE Start Date]      -- JJM 2016-05-31 Added
	,[Temp Reassignment NTE Date]         -- JJM 2016-05-31 Added
	,[Temp Reassign NTE Start Date]       -- JJM 2016-05-31 Added

    ,[Retirement SCD]			          -- JJM 2017-04-05 Added
	,[SCD Length Of Service]	          -- JJM 2017-04-05 Added
	,[SCD RIF]					          -- JJM 2017-04-05 Added

	)
    SELECT  
	[FY DESIGNATION],
    [Month_Name],
    [Record Date],
    [Safeguard],
    xxPMU.[Social Security],
    [Employee Number],
    [CHRIS Position Information#Office Symbol],
    [Final_2 Letter],
    [Email Address],
    [Full Name],
    [Veterans Preference Description],
    [Veterans Status Description],
    [Work Telephone],
    [Leave Category],
    [First Name],
    [Middle Name],
    [Last Name],
    [Birth Month],
    [CHRIS Position Information#Position Control Number Indicator],
    [Tenure Description],
    [CHRIS Position Information#Position Control Number],
    [CHRIS Position Information#PD Number],
    [CHRIS Position Information#Position Encumbered Type],
    [CHRIS Position Information#Position Title],
    [PP-Series-Grade],
    [Competitive Area Code],
    [Competitive Level Code],
    [CHRIS Position Information#Occupational Series Code],
    [CHRIS Position Information#Occupational Series Description],
    [CHRIS Position Information#Valid Grade Or Level],
    [Step Or Rate],
    [Target Pay Plan],
    [Target Grade Or Level],
    [Duty Station Code],
    [CHRIS Position Information#Duty Station Name],
    [CHRIS Position Information#Duty Station County Name],
    [Duty Station State Or Country],
    [CHRIS Position Information#Supervisory Status Code],
    [CHRIS Position Information#Supervisory Status Description],
    [Work Schedule Description],
    [CHRIS Position Information#Position Sensitivity Description],
    [Bargaining Unit Status Code],
    [Bargaining Unit Status Description],
    [Pos Organization Long Name],
    [F45],
    [Date Prob/Trial Period Begins],
    [Date Prob/Trial Period Ends],
    [Date Conversion Career Due],
    [Date Conversion Career Begins],
    [WGI Date Due],
    [Pathways(Y/N)],
    [Current Appointment Auth (1) Code],
    [Current Appointment Auth (1) Desc],
    [Type of Employment Description],
    [Appointment Type Description],
    [Basic Salary Rate],
    [Adjusted Basic Pay],
    [Total Pay],
    [Per- Hour(Total Salary_Total Pay)],
    [Latest Hire Date],
    [Date VRA Conversion Due],
    [Date Last Promotion],
    [YOSGSA],
    [SCD Civilian],
    [YOS_FEDERAL],
    [SCD Leave],
    [Compute Early Retirment],
    [ERFY],
    [Compute Optional Retirement],
    [ORFY],
    [Owning Region],
    [Servicing Region],
    [Personnel Office ID Description],
    [Pos Org Agy Subelement Desc],
    [Posn_Supervisor],
    [Position Reporting To Information#Supervisor Social Security Num],
    [Team Leaders Name],
    [Appropriation Code 1],
    [Office Symbol(Personnel Org Code)],
    [Organization Code(Budget Finance)],
    [Fund Code],
    [Budget Activity],
    [Cost Element],
    [Object Class],
    [ORG/BA/FC],
    [RR/ORG/BA/FC],
    [Funding Back Fill],
    [Funding Back Fill Description],
    [Funding Full Time Equivalent],
    [CHRIS Position WMT Information#Funding Status Description],
    [CHRIS Position Information#Position Sequence Number],
    [Available for Hiring?],
    [Position Detailed?],
    [CHRIS Obligated Position#Pos Agency Subelement Code Desc],
    [CHRIS Obligated Position#Position Sensitivity Description],
    [CHRIS Obligated Position#Office Symbol],
    [CHRIS Obligated Position#Position Control Number],
    [CHRIS Obligated Position#Position Control Number Indicator],
    [CHRIS Obligated Position#Position Title],
    [CHRIS Obligated Position#PD Number],
    [CHRIS Obligated Position#Position Sequence Number],
    [CHRIS Obligated Position#Occupational Series Code],
    [CHRIS Obligated Position#Occupational Series Description],
    [CHRIS Obligated Position#Supervisory Status Description],
    [CHRIS Obligated Position#Valid Pay Plan],
    [CHRIS Obligated Position#Valid Grade Or Level],
    [Obligated Supervisor's Name],
    [Obligated Team Leader],
    [Detail NTE Start Date],
    [Detail NTE],
    [CHRIS Detailed Position#Office Symbol],
    [CHRIS Detailed Position#Position Control Number],
    [CHRIS Detailed Position#Position Control Number Indicator],
    [CHRIS Detailed Position#Position Title],
    [CHRIS Detailed Position#PD Number],
    [CHRIS Detailed Position#Position Sequence Number],
    [CHRIS Detailed Position#Occupational Series Code],
    [CHRIS Detailed Position#Occupational Series Description],
    [CHRIS Detailed Position#Position Sensitivity Description],
    [CHRIS Detailed Position#Supervisory Status Description],
    [CHRIS Detailed Position#Valid Pay Plan],
    [CHRIS Detailed Position#Valid Grade Or Level],
    [CHRIS Detailed Position WMT Information#Funding Status Descripti],
    [Detail Supervisor],
    [Detail Team Leader],
    [Financial Statement Code],
    [Financial Statement Description],
    [Public Trust Indicator Desc],
    [Public Trust Indicator Code],
    [Pos Address Org Info Line 1],
    [Pos Address Org Info Line 2],
    [Pos Address Org Info Line 3],
    [Pos Address Org Info Line 4],
    [Pos Address Org Info Line 5],
    [Pos Address Org Info Line 6],
    [Date of SES Appointment],
    [Academic Institution Code],
    [Academic Institution Description],
    [College-Major-Minor Code],
    [College-Major-Minor Description],
    [Educational Level Code],
    [Educational Level Desc],
    [Instructional Program Code],
    [Instructional Program Description],
    [Year Degree Cert Attained],
    [Flsa Category Code],
    [Flsa Category Description],
    [CHRIS Position Information#Position Control Number Indicator Des],
    [Block Number Code],
    [Block Number Description],
    [Drug Test Code],
    [Drug Test Description],
    [Birth Date],
    [Key Emergency Essential Code],
    [Key Emergency Essential Description],
    [MCO],
    [WGI Last Equivalent Increase Date],
    [Work Cell Phone Number],
    [Telework Indicator],
    [Telework Indicator Description],
    [Telework Ineligibility Reason],
    [Telework Ineligib Reason Description],
    [Assignment User Status],
    [Detailed Employee Full Name],
    [Position Obligated?],
    [Obligated Employee Full Name],
    [Region(Duty Station)],
    [RNO Code],
    [RNO Description],
    [Race or National Origin Code],
    [Gender Description],
    [Handicap Code],
    [Handicap Code Description],
    [Cybersecurity Code],
    [Cybersecurity Code Desc],
    [Position Reporting To Information#Reporting to Position Office S],
    [CHRIS Position Information#Occupational Category Code],
    [CHRIS Position Information#Occupational Category Description],
    [Date Arrived Personnel Office],
    [Date Arrived Present Grade],
    [Date Arrived Present Position],
    [Just Series],
    [Just Grade],
    [Just HSSO Code],
    [Citizenship Code],
    [Citizenship Description],
    [Pay Period End Date],
    [Pos Org Agy Subelement Code],
    [Obligated Position Reporting To Information#Team Lead Social Sec],
    [Detailed Position Reporting To Information#Team Lead Social Secu],
    [Position Reporting To Information#Team Lead Social Security Numb],
    [Furlough Indicator],
    [Furlough Indicator Desc],
    [Work Address Line 1],
    [Work Address Line 2],
    [Work Address Line 3],
    [Work Building],
    [Work City],
    [Work County],
    [Work State],
    [Work Zip],
    [Current Appointment Auth (2) Code],
    [Current Appointment Auth (2) Desc],
    [Serv05],
    [Serv10],
    [Serv15],
    [Serv20],
    [Serv25],
    [Serv30],
    [Serv35],
    [Serv40],
    [Serv45],
    [Serv50],
    [Annuitant Indicator Description],
    [Annuitant Indicator Code],
    [Reserve Category Code],
    [Reserve Category Description],
    [Retirement Plan Code],
    [Retirement Plan Description],
    [Creditable Military Service],
    [Obligated Position Reporting To Information#Supervisor Social Se],
    [Detailed Position Reporting To Information#Supervisor Social Sec],
    [CHRIS Obligated Position#Supervisory Status Code],
    [CHRIS Obligated Position WMT Information#Funding Status],
    [CHRIS Obligated Position WMT Information#Funding Status Descript],
    [CHRIS Obligated Position#Occupational Category Code],
    [CHRIS Obligated Position#Occupational Category Description],
    [CHRIS Obligated Position#Encumbered Type],
    [CHRIS Detailed Position#Supervisory Status Code],
    [CHRIS Detailed Position WMT Information#Funding Status],
    [CHRIS Detailed Position WMT Information#Funding Status Descript1],
    [CHRIS Detailed Position#Occupational Category Code],
    [CHRIS Detailed Position#Occupational Category Description],
    [CHRIS Detailed Position#Position Encumbered Type],
    [Supv/Mgr Probation Requirement Code],
    [Supv/Mgr Probation Requirement Desc],
    [Date SES Prob Expires],
    [Date Spvr/Mgr Prob Ends],
    [CHRIS Position WMT Information#Funding Status],
    [PersonID],
    [ChrisPositionID],
    [ObligatedPositionID],
    [DetailedPositionID],
    [PayID],
    [DutyStationId],
    [FinancialsID],
    [PersonnelOfficeID],
    [PositionDateID],
    [OrganizationID],
	SYSDATETIME()
	,[Last Seperation Date]				  -- JJM 2016-05-20 Added
    ,[Pay Rate Determinant Code]		  -- JJM 2016-05-20 Added
	,[Pay Rate Determinant Description]	  -- JJM 2016-05-20 Added
    ,[Detail Type]						  -- JJM 2016-05-16 Added
    ,[Detail Type  Description]			  -- JJM 2016-05-16 Added
	,[LWOP NTE]							  -- JJM 2016-05-31 Added
	,[LWOP NTE Start Date]				  -- JJM 2016-05-31 Added
	,[LWP NTE]							  -- JJM 2016-05-31 Added
	,[LWP NTE Start Date]				  -- JJM 2016-05-31 Added
	,[Sabbatical NTE]					  -- JJM 2016-05-31 Added
	,[Sabbatical NTE Start Date]		  -- JJM 2016-05-31 Added
	,[Suspension NTE]					  -- JJM 2016-05-31 Added
	,[Suspension NTE Start Date]		  -- JJM 2016-05-31 Added
	,[Temp Promotion NTE Date]	          -- JJM 2016-05-31 Added
	,[Temp Promotion NTE Start Date]      -- JJM 2016-05-31 Added
	,[Temp Reassignment NTE Date]         -- JJM 2016-05-31 Added
	,[Temp Reassign NTE Start Date]       -- JJM 2016-05-31 Added

    ,xxPMU_SCD.[Retirement SCD]			          -- JJM 2017-04-05 Added
	,xxPMU_SCD.[SCD Length Of Service]		      -- JJM 2017-04-05 Added
	,xxPMU_SCD.[SCD RIF]					          -- JJM 2017-04-05 Added

FROM [dbo].[xxPMU]
	 LEFT OUTER JOIN [xxPMU_SCD]
		ON xxPMU_SCD.[Social Security] = xxPMU.[Social Security] 


GO
