USE [HRDW]
GO
/****** Object:  Table [dbo].[test_tbl]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_tbl](
	[test1] [nchar](10) NULL,
	[test2] [nchar](10) NULL,
	[test3] [nchar](10) NULL
) ON [PRIMARY]

GO
