USE [HRDW]
GO
/****** Object:  Table [dbo].[xxTransactions]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xxTransactions](
	[ProcessedDate] [date] NULL,
	[SSN] [nvarchar](255) NULL,
	[Run Date] [smalldatetime] NULL,
	[Database] [nvarchar](255) NULL,
	[Effective Date] [date] NULL,
	[FY DESIGNATION] [nvarchar](255) NULL,
	[FAMILY_NOACS] [nvarchar](255) NULL,
	[NOAC_AND_DESCRIPTION] [nvarchar](255) NULL,
	[First Action LA Code1] [nvarchar](255) NULL,
	[First Action LA Desc1] [nvarchar](255) NULL,
	[First Action LA Code2] [nvarchar](255) NULL,
	[First Action LA Desc2] [nvarchar](255) NULL,
	[Second NOA Code] [nvarchar](255) NULL,
	[Second NOA Desc] [nvarchar](255) NULL,
	[Full Name] [nvarchar](255) NULL,
	[Tenure Desc] [nvarchar](255) NULL,
	[Appointment Type Desc] [nvarchar](255) NULL,
	[Type Of Employment Desc] [nvarchar](255) NULL,
	[Veterans Preference Desc] [nvarchar](255) NULL,
	[Veterans Status Desc] [nvarchar](255) NULL,
	[Work Schedule Desc] [nvarchar](255) NULL,
	[Reason For Separation Desc] [nvarchar](255) NULL,
	[Supv Mgr Prob Completion] [nvarchar](255) NULL,
	[Supv Mgr Prob Begin Date] [date] NULL,
	[Date Conv Career Begins] [date] NULL,
	[Date Conv Career Due] [date] NULL,
	[Award Type Desc] [nvarchar](255) NULL,
	[To Appropriation Code 1] [nvarchar](255) NULL,
	[Pathways] [nvarchar](255) NULL,
	[SCEP_STEP_PMF] [nvarchar](255) NULL,
	[Flex2] [nvarchar](255) NULL,
	[Pathways Program Start Date] [date] NULL,
	[Pathways Program End Date] [date] NULL,
	[Pathways Program Extn End Date] [date] NULL,
	[From Office Symbol] [nvarchar](255) NULL,
	[From Long Name] [nvarchar](255) NULL,
	[F36] [nvarchar](255) NULL,
	[To Office Symbol] [nvarchar](255) NULL,
	[To Long Name] [nvarchar](255) NULL,
	[F39] [nvarchar](255) NULL,
	[From Position Agency Code/Subelement Description] [nvarchar](255) NULL,
	[To Position Agency Code/Subelement Description] [nvarchar](255) NULL,
	[What Kind of Movement] [nvarchar](255) NULL,
	[From Position Control Number Indicator Description] [nvarchar](255) NULL,
	[From Position Control Number Indicator] [nvarchar](255) NULL,
	[From Position Control Number] [nvarchar](255) NULL,
	[From PD Number] [nvarchar](255) NULL,
	[From Position Sequence Number] [nvarchar](255) NULL,
	[From PP-Series-Grade] [nvarchar](255) NULL,
	[From Position Target Grade or Level] [nvarchar](255) NULL,
	[To Position Control Number Indicator Description] [nvarchar](255) NULL,
	[To Position Control Number Indicator] [nvarchar](255) NULL,
	[To Position Control Number] [nvarchar](255) NULL,
	[To PD Number] [nvarchar](255) NULL,
	[To Position Sequence Number] [nvarchar](255) NULL,
	[To PP-Series-Grade] [nvarchar](255) NULL,
	[To Position Target Grade or Level] [nvarchar](255) NULL,
	[From Pay Basis] [nvarchar](255) NULL,
	[To Pay Basis] [nvarchar](255) NULL,
	[FPL] [nvarchar](255) NULL,
	[To FLSA Category] [nvarchar](255) NULL,
	[From Position Title] [nvarchar](255) NULL,
	[To Position Title] [nvarchar](255) NULL,
	[Duty Station Name and State_Country] [nvarchar](255) NULL,
	[From Region] [nvarchar](255) NULL,
	[To Region] [nvarchar](255) NULL,
	[From Servicing Region] [nvarchar](255) NULL,
	[To Servicing Region] [nvarchar](255) NULL,
	[To POI] [nvarchar](255) NULL,
	[To Bargaining Unit Status Desc] [nvarchar](255) NULL,
	[From Pos Supervisory Sts Desc] [nvarchar](255) NULL,
	[To Supervisory Status Desc] [nvarchar](255) NULL,
	[New Supervisor?] [nvarchar](255) NULL,
	[Employee Number] [nvarchar](255) NULL,
	[NOA Family Code] [nvarchar](255) NULL,
	[Reason For Separation] [nvarchar](255) NULL,
	[Retirement Plan] [nvarchar](255) NULL,
	[Retirement Plan Desc] [nvarchar](255) NULL,
	[Mandatory Retirement Date] [date] NULL,
	[Tenure] [nvarchar](255) NULL,
	[Credibility Mil Service] [nvarchar](255) NULL,
	[Veterans Preference] [nvarchar](255) NULL,
	[Veterans Status] [nvarchar](255) NULL,
	[Type Of Employment] [nvarchar](255) NULL,
	[RNO Desc] [nvarchar](255) NULL,
	[RNO Code] [nvarchar](255) NULL,
	[Handicap Code] [nvarchar](255) NULL,
	[Handicap Code Desc] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[DOB] [date] NULL,
	[Appointment Type ] [nvarchar](255) NULL,
	[Agency Code Transfer From] [nvarchar](255) NULL,
	[Agency Code Transfer From Desc] [nvarchar](255) NULL,
	[Agency Code Transfer To] [nvarchar](255) NULL,
	[Agency Code Transfer To Desc] [nvarchar](255) NULL,
	[From Position Agency Code/Subelement] [nvarchar](255) NULL,
	[To Position Agency Code/Subelement] [nvarchar](255) NULL,
	[To Duty Station Code] [nvarchar](255) NULL,
	[From Step Or Rate] [nvarchar](255) NULL,
	[To Step Or Rate] [nvarchar](255) NULL,
	[Hire Date] [date] NULL,
	[Incentive Payment Option Code] [nvarchar](255) NULL,
	[Incentive Payment Option Desc] [nvarchar](255) NULL,
	[Incentive Payment Type (Categroy)] [nvarchar](255) NULL,
	[Retention Incentive Review Date] [date] NULL,
	[Total Incentive Amount/Percent] [nvarchar](255) NULL,
	[Award Appropriation Code] [nvarchar](255) NULL,
	[Award Approving Official Name] [nvarchar](255) NULL,
	[Award Justification] [nvarchar](max) NULL,
	[F106] [nvarchar](255) NULL,
	[F107] [nvarchar](255) NULL,
	[F108] [nvarchar](255) NULL,
	[F109] [nvarchar](255) NULL,
	[F110] [nvarchar](255) NULL,
	[F111] [nvarchar](255) NULL,
	[F112] [nvarchar](255) NULL,
	[F113] [nvarchar](255) NULL,
	[F114] [nvarchar](255) NULL,
	[F115] [nvarchar](255) NULL,
	[F116] [nvarchar](255) NULL,
	[Award Type] [nvarchar](255) NULL,
	[Award Type Desc1] [nvarchar](255) NULL,
	[Award UOM] [nvarchar](255) NULL,
	[From Basic Pay] [money] NULL,
	[To Basic Pay] [money] NULL,
	[From Adjusted Basic Pay] [money] NULL,
	[To Adjusted Basic Pay] [money] NULL,
	[From Total Pay] [money] NULL,
	[To Total Pay] [money] NULL,
	[Award Amount] [numeric](13, 2) NULL,
	[Processed Date] [date] NULL,
	[Annuitant Indicator] [nvarchar](255) NULL,
	[Annuitant Indicator Desc] [nvarchar](255) NULL,
	[Pay Rate Determinant] [nvarchar](255) NULL,
	[Pay Rate Determinant Desc] [nvarchar](255) NULL,
	[NOAC_AND_DESCRIPTION_2] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'A staging table used to load the Transactions staging table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'xxTransactions'
GO
EXEC sys.sp_addextendedproperty @name=N'Use', @value=N'To process new external data feeds: 
    1. Compare the physical structure of the spreadsheet against the xx staging table to determine if there are structural changes.  
    2. Reconcile discrepancies with the originating source prior to modifying the: xx staging table, target table and corresponding stored procedure.  
    3. Use SQL Server Import and Export Wizard or corresponding package to load the spreadsheet into the xx staging table.  
    4. Make a database backup prior to executing the stored procedure in case of unrecoverable failure.  
    5. Execute the corresponding stored procedure which loads the raw data into the corresponding target table.  
    Notes: Remember to log the files: as they arrive, are loaded, and when  processed.  Record sufficient details to enable the identification and correction of anomalies.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'xxTransactions'
GO
