USE [HRDW]
GO
/****** Object:  Table [dbo].[COUNTRYCODE_TABLE_DESC]    Script Date: 5/1/2018 1:39:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COUNTRYCODE_TABLE_DESC](
	[COUNTRYCODE] [varchar](10) NULL,
	[COUNTRYDESCRIPTION] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
