USE [HRDW]
GO
/****** Object:  Table [dbo].[RequiredTrainingClassPatternSearch]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequiredTrainingClassPatternSearch](
	[RequiredTrainingClassPatternSearchID] [int] IDENTITY(1,1) NOT NULL,
	[RequiredEmployeeGroupingPerOlu] [nvarchar](255) NULL,
	[DueDate] [date] NULL,
	[HowToIdentify] [nvarchar](255) NULL,
	[OluTitle] [nvarchar](255) NULL,
	[PatternSearch] [nvarchar](255) NULL,
	[DataSource] [nvarchar](255) NULL,
	[SystemSource] [nvarchar](255) NULL,
	[AsOfDate] [datetime] NULL,
 CONSTRAINT [RequiredTrainingClassPatternSearch_PK] PRIMARY KEY NONCLUSTERED 
(
	[RequiredTrainingClassPatternSearchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
