USE [HRDW]
GO
/****** Object:  Table [dbo].[xxHIGH3_Reload]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xxHIGH3_Reload](
	[Run Date] [date] NULL,
	[Employee SSN] [nvarchar](255) NULL,
	[High 3 Only] [nvarchar](255) NULL,
	[FYDESIGNATION] [nvarchar](255) NULL
) ON [PRIMARY]

GO
