USE [HRDW]
GO
/****** Object:  Table [dbo].[xxPMU]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xxPMU](
	[FY DESIGNATION] [nvarchar](255) NULL,
	[Month_Name] [nvarchar](255) NULL,
	[Record Date] [smalldatetime] NULL,
	[Safeguard] [nvarchar](255) NULL,
	[Social Security] [nvarchar](255) NULL,
	[Employee Number] [nvarchar](255) NULL,
	[CHRIS Position Information#Office Symbol] [nvarchar](255) NULL,
	[Final_2 Letter] [nvarchar](255) NULL,
	[Email Address] [nvarchar](255) NULL,
	[Full Name] [nvarchar](255) NULL,
	[Veterans Preference Description] [nvarchar](255) NULL,
	[Veterans Status Description] [nvarchar](255) NULL,
	[Work Telephone] [nvarchar](255) NULL,
	[Leave Category] [nvarchar](255) NULL,
	[First Name] [nvarchar](255) NULL,
	[Middle Name] [nvarchar](255) NULL,
	[Last Name] [nvarchar](255) NULL,
	[Birth Month] [nvarchar](255) NULL,
	[CHRIS Position Information#Position Control Number Indicator] [nvarchar](255) NULL,
	[Tenure Description] [nvarchar](255) NULL,
	[CHRIS Position Information#Position Control Number] [nvarchar](255) NULL,
	[CHRIS Position Information#PD Number] [nvarchar](255) NULL,
	[CHRIS Position Information#Position Encumbered Type] [nvarchar](255) NULL,
	[CHRIS Position Information#Position Title] [nvarchar](255) NULL,
	[PP-Series-Grade] [nvarchar](255) NULL,
	[Competitive Area Code] [nvarchar](255) NULL,
	[Competitive Level Code] [nvarchar](255) NULL,
	[CHRIS Position Information#Occupational Series Code] [nvarchar](255) NULL,
	[CHRIS Position Information#Occupational Series Description] [nvarchar](255) NULL,
	[CHRIS Position Information#Valid Grade Or Level] [nvarchar](255) NULL,
	[Step Or Rate] [nvarchar](255) NULL,
	[Target Pay Plan] [nvarchar](255) NULL,
	[Target Grade Or Level] [nvarchar](255) NULL,
	[Duty Station Code] [nvarchar](255) NULL,
	[CHRIS Position Information#Duty Station Name] [nvarchar](255) NULL,
	[CHRIS Position Information#Duty Station County Name] [nvarchar](255) NULL,
	[Duty Station State Or Country] [nvarchar](255) NULL,
	[CHRIS Position Information#Supervisory Status Code] [nvarchar](255) NULL,
	[CHRIS Position Information#Supervisory Status Description] [nvarchar](255) NULL,
	[Work Schedule Description] [nvarchar](255) NULL,
	[CHRIS Position Information#Position Sensitivity Description] [nvarchar](255) NULL,
	[Bargaining Unit Status Code] [nvarchar](255) NULL,
	[Bargaining Unit Status Description] [nvarchar](255) NULL,
	[Pos Organization Long Name] [nvarchar](255) NULL,
	[F45] [nvarchar](255) NULL,
	[Date Prob/Trial Period Begins] [date] NULL,
	[Date Prob/Trial Period Ends] [date] NULL,
	[Date Conversion Career Due] [date] NULL,
	[Date Conversion Career Begins] [date] NULL,
	[WGI Date Due] [date] NULL,
	[Pathways(Y/N)] [nvarchar](255) NULL,
	[Current Appointment Auth (1) Code] [nvarchar](255) NULL,
	[Current Appointment Auth (1) Desc] [nvarchar](255) NULL,
	[Type of Employment Description] [nvarchar](255) NULL,
	[Appointment Type Description] [nvarchar](255) NULL,
	[Basic Salary Rate] [money] NULL,
	[Adjusted Basic Pay] [money] NULL,
	[Total Pay] [money] NULL,
	[Per- Hour(Total Salary_Total Pay)] [float] NULL,
	[Latest Hire Date] [date] NULL,
	[Date VRA Conversion Due] [date] NULL,
	[Date Last Promotion] [date] NULL,
	[YOSGSA] [float] NULL,
	[SCD Civilian] [date] NULL,
	[YOS_FEDERAL] [float] NULL,
	[SCD Leave] [date] NULL,
	[Compute Early Retirment] [date] NULL,
	[ERFY] [nvarchar](255) NULL,
	[Compute Optional Retirement] [date] NULL,
	[ORFY] [nvarchar](255) NULL,
	[Owning Region] [nvarchar](255) NULL,
	[Servicing Region] [nvarchar](255) NULL,
	[Personnel Office ID Description] [nvarchar](255) NULL,
	[Pos Org Agy Subelement Desc] [nvarchar](255) NULL,
	[Posn_Supervisor] [nvarchar](255) NULL,
	[Position Reporting To Information#Supervisor Social Security Num] [nvarchar](255) NULL,
	[Team Leaders Name] [nvarchar](255) NULL,
	[Appropriation Code 1] [nvarchar](255) NULL,
	[Office Symbol(Personnel Org Code)] [nvarchar](255) NULL,
	[Organization Code(Budget Finance)] [nvarchar](255) NULL,
	[Fund Code] [nvarchar](255) NULL,
	[Budget Activity] [nvarchar](255) NULL,
	[Cost Element] [nvarchar](255) NULL,
	[Object Class] [nvarchar](255) NULL,
	[ORG/BA/FC] [nvarchar](255) NULL,
	[RR/ORG/BA/FC] [nvarchar](255) NULL,
	[Funding Back Fill] [nvarchar](255) NULL,
	[Funding Back Fill Description] [nvarchar](255) NULL,
	[Funding Full Time Equivalent] [float] NULL,
	[CHRIS Position WMT Information#Funding Status Description] [nvarchar](255) NULL,
	[CHRIS Position Information#Position Sequence Number] [nvarchar](255) NULL,
	[Available for Hiring?] [nvarchar](255) NULL,
	[Position Detailed?] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Pos Agency Subelement Code Desc] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Position Sensitivity Description] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Office Symbol] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Position Control Number] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Position Control Number Indicator] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Position Title] [nvarchar](255) NULL,
	[CHRIS Obligated Position#PD Number] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Position Sequence Number] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Occupational Series Code] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Occupational Series Description] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Supervisory Status Description] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Valid Pay Plan] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Valid Grade Or Level] [nvarchar](255) NULL,
	[Obligated Supervisor's Name] [nvarchar](255) NULL,
	[Obligated Team Leader] [nvarchar](255) NULL,
	[Detail NTE Start Date] [date] NULL,
	[Detail NTE] [date] NULL,
	[CHRIS Detailed Position#Office Symbol] [nvarchar](255) NULL,
	[CHRIS Detailed Position#Position Control Number] [nvarchar](255) NULL,
	[CHRIS Detailed Position#Position Control Number Indicator] [nvarchar](255) NULL,
	[CHRIS Detailed Position#Position Title] [nvarchar](255) NULL,
	[CHRIS Detailed Position#PD Number] [nvarchar](255) NULL,
	[CHRIS Detailed Position#Position Sequence Number] [nvarchar](255) NULL,
	[CHRIS Detailed Position#Occupational Series Code] [nvarchar](255) NULL,
	[CHRIS Detailed Position#Occupational Series Description] [nvarchar](255) NULL,
	[CHRIS Detailed Position#Position Sensitivity Description] [nvarchar](255) NULL,
	[CHRIS Detailed Position#Supervisory Status Description] [nvarchar](255) NULL,
	[CHRIS Detailed Position#Valid Pay Plan] [nvarchar](255) NULL,
	[CHRIS Detailed Position#Valid Grade Or Level] [nvarchar](255) NULL,
	[CHRIS Detailed Position WMT Information#Funding Status Descripti] [nvarchar](255) NULL,
	[Detail Supervisor] [nvarchar](255) NULL,
	[Detail Team Leader] [nvarchar](255) NULL,
	[Financial Statement Code] [nvarchar](255) NULL,
	[Financial Statement Description] [nvarchar](255) NULL,
	[Public Trust Indicator Desc] [nvarchar](255) NULL,
	[Public Trust Indicator Code] [nvarchar](255) NULL,
	[Pos Address Org Info Line 1] [nvarchar](255) NULL,
	[Pos Address Org Info Line 2] [nvarchar](255) NULL,
	[Pos Address Org Info Line 3] [nvarchar](255) NULL,
	[Pos Address Org Info Line 4] [nvarchar](255) NULL,
	[Pos Address Org Info Line 5] [nvarchar](255) NULL,
	[Pos Address Org Info Line 6] [nvarchar](255) NULL,
	[Date of SES Appointment] [date] NULL,
	[Academic Institution Code] [nvarchar](255) NULL,
	[Academic Institution Description] [nvarchar](255) NULL,
	[College-Major-Minor Code] [nvarchar](255) NULL,
	[College-Major-Minor Description] [nvarchar](255) NULL,
	[Educational Level Code] [nvarchar](255) NULL,
	[Educational Level Desc] [nvarchar](255) NULL,
	[Instructional Program Code] [nvarchar](255) NULL,
	[Instructional Program Description] [nvarchar](255) NULL,
	[Year Degree Cert Attained] [float] NULL,
	[Flsa Category Code] [nvarchar](255) NULL,
	[Flsa Category Description] [nvarchar](255) NULL,
	[CHRIS Position Information#Position Control Number Indicator Des] [nvarchar](255) NULL,
	[Block Number Code] [nvarchar](255) NULL,
	[Block Number Description] [nvarchar](255) NULL,
	[Drug Test Code] [nvarchar](255) NULL,
	[Drug Test Description] [nvarchar](255) NULL,
	[Birth Date] [date] NULL,
	[Key Emergency Essential Code] [nvarchar](255) NULL,
	[Key Emergency Essential Description] [nvarchar](255) NULL,
	[MCO] [nvarchar](255) NULL,
	[WGI Last Equivalent Increase Date] [date] NULL,
	[Work Cell Phone Number] [nvarchar](255) NULL,
	[Telework Indicator] [nvarchar](255) NULL,
	[Telework Indicator Description] [nvarchar](255) NULL,
	[Telework Ineligibility Reason] [nvarchar](255) NULL,
	[Telework Ineligib Reason Description] [nvarchar](255) NULL,
	[Assignment User Status] [nvarchar](255) NULL,
	[Detailed Employee Full Name] [nvarchar](255) NULL,
	[Position Obligated?] [nvarchar](255) NULL,
	[Obligated Employee Full Name] [nvarchar](255) NULL,
	[Region(Duty Station)] [nvarchar](255) NULL,
	[RNO Code] [nvarchar](255) NULL,
	[RNO Description] [nvarchar](255) NULL,
	[Race or National Origin Code] [nvarchar](255) NULL,
	[Gender Description] [nvarchar](255) NULL,
	[Handicap Code] [nvarchar](255) NULL,
	[Handicap Code Description] [nvarchar](255) NULL,
	[Cybersecurity Code] [nvarchar](255) NULL,
	[Cybersecurity Code Desc] [nvarchar](255) NULL,
	[Position Reporting To Information#Reporting to Position Office S] [nvarchar](255) NULL,
	[CHRIS Position Information#Occupational Category Code] [nvarchar](255) NULL,
	[CHRIS Position Information#Occupational Category Description] [nvarchar](255) NULL,
	[Date Arrived Personnel Office] [date] NULL,
	[Date Arrived Present Grade] [date] NULL,
	[Date Arrived Present Position] [date] NULL,
	[Just Series] [float] NULL,
	[Just Grade] [float] NULL,
	[Just HSSO Code] [float] NULL,
	[Citizenship Code] [float] NULL,
	[Citizenship Description] [nvarchar](255) NULL,
	[Pay Period End Date] [date] NULL,
	[Pos Org Agy Subelement Code] [nvarchar](255) NULL,
	[Obligated Position Reporting To Information#Team Lead Social Sec] [nvarchar](255) NULL,
	[Detailed Position Reporting To Information#Team Lead Social Secu] [nvarchar](255) NULL,
	[Position Reporting To Information#Team Lead Social Security Numb] [nvarchar](255) NULL,
	[Furlough Indicator] [nvarchar](255) NULL,
	[Furlough Indicator Desc] [nvarchar](255) NULL,
	[Work Address Line 1] [nvarchar](255) NULL,
	[Work Address Line 2] [nvarchar](255) NULL,
	[Work Address Line 3] [nvarchar](255) NULL,
	[Work Building] [nvarchar](255) NULL,
	[Work City] [nvarchar](255) NULL,
	[Work County] [nvarchar](255) NULL,
	[Work State] [nvarchar](255) NULL,
	[Work Zip] [nvarchar](255) NULL,
	[Current Appointment Auth (2) Code] [nvarchar](255) NULL,
	[Current Appointment Auth (2) Desc] [nvarchar](255) NULL,
	[Serv05] [date] NULL,
	[Serv10] [date] NULL,
	[Serv15] [date] NULL,
	[Serv20] [date] NULL,
	[Serv25] [date] NULL,
	[Serv30] [date] NULL,
	[Serv35] [date] NULL,
	[Serv40] [date] NULL,
	[Serv45] [date] NULL,
	[Serv50] [date] NULL,
	[Annuitant Indicator Description] [nvarchar](255) NULL,
	[Annuitant Indicator Code] [nvarchar](255) NULL,
	[Reserve Category Code] [nvarchar](255) NULL,
	[Reserve Category Description] [nvarchar](255) NULL,
	[Retirement Plan Code] [nvarchar](255) NULL,
	[Retirement Plan Description] [nvarchar](255) NULL,
	[Creditable Military Service] [nvarchar](255) NULL,
	[Obligated Position Reporting To Information#Supervisor Social Se] [nvarchar](255) NULL,
	[Detailed Position Reporting To Information#Supervisor Social Sec] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Supervisory Status Code] [nvarchar](255) NULL,
	[CHRIS Obligated Position WMT Information#Funding Status] [nvarchar](255) NULL,
	[CHRIS Obligated Position WMT Information#Funding Status Descript] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Occupational Category Code] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Occupational Category Description] [nvarchar](255) NULL,
	[CHRIS Obligated Position#Encumbered Type] [nvarchar](255) NULL,
	[CHRIS Detailed Position#Supervisory Status Code] [nvarchar](255) NULL,
	[CHRIS Detailed Position WMT Information#Funding Status] [nvarchar](255) NULL,
	[CHRIS Detailed Position WMT Information#Funding Status Descript1] [nvarchar](255) NULL,
	[CHRIS Detailed Position#Occupational Category Code] [nvarchar](255) NULL,
	[CHRIS Detailed Position#Occupational Category Description] [nvarchar](255) NULL,
	[CHRIS Detailed Position#Position Encumbered Type] [nvarchar](255) NULL,
	[Supv/Mgr Probation Requirement Code] [nvarchar](255) NULL,
	[Supv/Mgr Probation Requirement Desc] [nvarchar](255) NULL,
	[Date SES Prob Expires] [date] NULL,
	[Date Spvr/Mgr Prob Ends] [date] NULL,
	[CHRIS Position WMT Information#Funding Status] [nvarchar](255) NULL,
	[Last Seperation Date] [date] NULL,
	[Pay Rate Determinant Code] [nvarchar](255) NULL,
	[Pay Rate Determinant Description] [nvarchar](255) NULL,
	[Detail Type] [nvarchar](255) NULL,
	[Detail Type  Description] [nvarchar](255) NULL,
	[LWOP NTE] [date] NULL,
	[LWOP NTE Start Date] [date] NULL,
	[LWP NTE] [date] NULL,
	[LWP NTE Start Date] [date] NULL,
	[Sabbatical NTE] [date] NULL,
	[Sabbatical NTE Start Date] [date] NULL,
	[Suspension NTE] [date] NULL,
	[Suspension NTE Start Date] [date] NULL,
	[Temp Promotion NTE Date] [date] NULL,
	[Temp Promotion NTE Start Date] [date] NULL,
	[Temp Reassignment NTE Date] [date] NULL,
	[Temp Reassign NTE Start Date] [date] NULL,
	[Retirement SCD] [date] NULL,
	[SCD Length Of Service] [date] NULL,
	[SCD RIF] [date] NULL
) ON [PRIMARY]

GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'A staging table used to load the PMU table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'xxPMU'
GO
EXEC sys.sp_addextendedproperty @name=N'Use', @value=N'To process new external data feeds: 
    1. Compare the physical structure of the spreadsheet against the xx staging table to determine if there are structural changes.  
    2. Reconcile discrepancies with the originating source prior to modifying the: xx staging table, target table and corresponding stored procedure.  
    3. Use SQL Server Import and Export Wizard or corresponding package to load the spreadsheet into the xx staging table.  
    4. Make a database backup prior to executing the stored procedure in case of unrecoverable failure.  
    5. Execute the corresponding stored procedure which loads the raw data into the corresponding target table.  
    Notes: Remember to log the files: as they arrive, are loaded, and when  processed.  Record sufficient details to enable the identification and correction of anomalies.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'xxPMU'
GO
