USE [HRDW]
GO
/****** Object:  Table [LegacyPirsChrisbo].[PIRS_CA_9-30-Year (85, 89, 90-2000)]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [LegacyPirsChrisbo].[PIRS_CA_9-30-Year (85, 89, 90-2000)](
	[PIRS_CA_ID] [int] IDENTITY(1,1) NOT NULL,
	[PIRS-Current Active(CA)-Position Encumbred Type] [varchar](20) NOT NULL,
	[RecordDate] [date] NOT NULL,
	[PersonID] [int] NULL,
	[SSN] [varchar](11) NOT NULL,
	[FullName] [varchar](75) NOT NULL,
	[PayBasis] [varchar](2) NULL,
	[PayBasisDesc] [varchar](255) NULL,
	[WorkSchedule] [varchar](1) NULL,
	[WorkScheduleDesc] [varchar](255) NULL,
	[BasicSalary] [money] NULL,
	[AdjustedBasicSalary/TotalSalary] [money] NULL,
	[Retirement_SCD] [date] NULL,
	[SCDCivilian] [date] NULL,
	[SCDLeave] [date] NULL,
	[SCDRIF] [date] NULL,
	[BirthDate] [date] NULL,
	[Age on RecordDate] [int] NULL,
	[Age Groupings at RecordDate] [varchar](255) NULL,
	[Generation Designation] [varchar](50) NULL,
	[RNOCode] [varchar](1) NULL,
	[RNODescription] [varchar](255) NULL,
	[VeteransPreferenceCode] [varchar](1) NULL,
	[VeteransPreferenceDescription] [varchar](255) NULL,
	[PositionTitle] [varchar](255) NULL,
	[PPSeriesGrade] [varchar](10) NULL,
	[PayPlan] [varchar](2) NULL,
	[Series] [varchar](4) NULL,
	[Grade] [varchar](2) NULL,
	[TargetGradeOrLevel] [varchar](2) NULL,
	[MCO-Mission Critical Occupations] [varchar](50) NULL,
	[OCO-Organizational Critical Occupations] [varchar](50) NULL,
	[SupervisoryStatusCode] [varchar](1) NULL,
	[SupervisoryStatusDesc] [varchar](255) NULL,
	[OfficeSymbol] [varchar](10) NULL,
	[OrgnCode] [varchar](7) NULL,
	[HSSO] [varchar](50) NULL,
	[POID] [varchar](4) NULL,
	[PoiDesc] [varchar](255) NULL,
	[DutyStationCode] [varchar](9) NULL,
	[DutyStationName] [varchar](50) NULL,
	[DutyStationState] [varchar](50) NULL,
	[DutyStationCounty] [varchar](50) NULL,
	[RegionBasedOnDutyStation] [varchar](3) NULL,
	[ServicingRegion] [varchar](1) NULL,
	[OwningRegion] [varchar](1) NULL,
	[ManagingRegion] [varchar](15) NULL,
	[NumberofEmployees] [int] NULL,
	[AnnuitantIndicatorCode] [varchar](1) NULL,
	[AnnuitantIndicatorDescription] [varchar](255) NULL,
	[AppointmentTypeCode] [varchar](2) NULL,
	[AppointmentTypeDescription] [varchar](255) NULL,
	[TenureCode] [varchar](1) NULL,
	[TenureDescription] [varchar](255) NULL,
	[BargainingUnitStatusCode] [varchar](4) NULL,
	[BargainingUnitStatusDescription] [varchar](255) NULL,
	[DateAwardApproved1] [date] NULL,
	[CivilianAwardType1] [varchar](2) NULL,
	[CivilianAwarddType1Desc] [varchar](255) NULL,
	[AmountIncentiveAward1] [money] NULL,
	[DateAwardApproved2] [date] NULL,
	[CivAwdTyp2] [varchar](2) NULL,
	[CivilianAwardType2Desc] [varchar](255) NULL,
	[AmtIncentAwd2] [money] NULL,
	[DateAwardApproved3] [date] NULL,
	[CivAwdTyp3] [varchar](2) NULL,
	[CivilianAwardType3Desc] [varchar](255) NULL,
	[AmtIncentAwd3] [money] NULL,
	[LatestHireDate] [date] NULL,
	[DrugTestReqd] [varchar](1) NULL,
	[DateCurrentRating] [date] NULL,
	[DateHistoryRate1] [date] NULL,
	[DateLastPromotion] [date] NULL,
	[DateArrivedCCPO] [date] NULL,
	[EducationLevelCode] [varchar](2) NULL,
	[EducationLevelDesc] [varchar](255) NULL,
	[GenderCode] [varchar](1) NULL,
	[SpecialPlacementEmployeeProgramCode] [varchar](2) NULL,
	[SpecialPlacementEmployeeProgramDescription] [varchar](255) NULL,
	[HandicapCode] [varchar](2) NULL,
	[HandicapCodeDescription] [varchar](255) NULL,
	[OriginalAppointingAuthority1] [varchar](3) NULL,
	[OriginalAppointingAuthority2] [varchar](3) NULL,
	[PayRateDeterminantCode] [varchar](1) NULL,
	[PayRateDeterminantDescription] [varchar](255) NULL,
	[PositionOccupiedCode] [varchar](1) NULL,
	[PositionOccupiedDescription] [varchar](255) NULL,
	[RetirementCode] [varchar](2) NULL,
	[RetirementCodeDescription] [varchar](255) NULL,
	[HRDW-CER-ComputeEarlyRetirement] [date] NULL,
	[HRDW-COR-ComputeOptionalRetirement] [date] NULL,
 CONSTRAINT [PIRS_CA_pk] PRIMARY KEY NONCLUSTERED 
(
	[PIRS_CA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
