USE [HRDW]
GO
/****** Object:  Table [LegacyPirsChrisbo].[CHRISBO_9302000_2001_2002_2003]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [LegacyPirsChrisbo].[CHRISBO_9302000_2001_2002_2003](
	[CHRISBO_ID] [int] IDENTITY(1,1) NOT NULL,
	[RecordDate] [date] NULL,
	[PersonID] [int] NULL,
	[SSN] [varchar](11) NULL,
	[EncumberedType] [varchar](30) NULL,
	[Age] [int] NULL,
	[AgeGrouping] [varchar](50) NULL,
	[AgencyCodeSubelement] [varchar](4) NULL,
	[HSSO_Description] [varchar](70) NULL,
	[HSSOShortDesc] [varchar](4) NULL,
	[AnnuitantIndicator] [varchar](50) NULL,
	[AICode] [varchar](1) NULL,
	[AppointmentType] [varchar](100) NULL,
	[AppointmentTypeCode] [varchar](2) NULL,
	[BargainingUnit] [varchar](100) NULL,
	[BargainingUnitCode] [varchar](4) NULL,
	[BirthDate] [date] NULL,
	[CollegeMajorMinor] [varchar](25) NULL,
	[CompetitiveAreaCode] [varchar](2) NULL,
	[CompetitiveLevel] [varchar](4) NULL,
	[ComputeEarlyRetirement] [date] NULL,
	[ComputeOptionalRetirement] [date] NULL,
	[HRDW_CER] [date] NULL,
	[HRDW_COR] [date] NULL,
	[CreditableMilitaryService] [varchar](4) NULL,
	[DateConversionCareerBeg] [date] NULL,
	[DateConversionCareerDue] [date] NULL,
	[DateEodAgency] [date] NULL,
	[DateLastPromotion] [date] NULL,
	[DateLatestEnterPresGrade] [date] NULL,
	[DateProbTrialPeriodBeg] [date] NULL,
	[DateProbTrialPeriodEnd] [date] NULL,
	[DateStartPresentPosition] [date] NULL,
	[DrugTest] [varchar](1) NULL,
	[EducationLevel] [varchar](60) NULL,
	[EmploymentGroup] [varchar](1) NULL,
	[FinancialStatementCode] [varchar](1) NULL,
	[FinancialStatementDescription] [varchar](10) NULL,
	[FirstN] [varchar](20) NULL,
	[FlsaCategory] [varchar](10) NULL,
	[FullName] [varchar](50) NULL,
	[GenderSex] [varchar](1) NULL,
	[Gender] [varchar](10) NULL,
	[GeographicLocationCode] [varchar](10) NULL,
	[DutyStationName] [varchar](50) NULL,
	[DutyStationState] [varchar](50) NULL,
	[RegionBasedOnDutyStation] [varchar](6) NULL,
	[LocalityPayArea] [varchar](2) NULL,
	[CoreBasedStatArea] [varchar](5) NULL,
	[CombinedStatArea] [varchar](4) NULL,
	[GenerationDesignation] [varchar](40) NULL,
	[HandicapCode] [varchar](2) NULL,
	[Handicap] [varchar](100) NULL,
	[LatestHireDate] [date] NULL,
	[KeyEmergEssentialEmp] [varchar](100) NULL,
	[LastN] [varchar](50) NULL,
	[LatestEquivalentIncrease] [date] NULL,
	[MiddleN] [varchar](15) NULL,
	[MCOMissionCriticalOccupations] [varchar](50) NULL,
	[OCOOrganizationalCriticalOccupations] [varchar](50) NULL,
	[OccupationalCategoryCode] [varchar](1) NULL,
	[OccupationalSeries] [varchar](60) NULL,
	[OccupationCategoryDescription] [varchar](20) NULL,
	[OccupationSeriesCode] [varchar](4) NULL,
	[OfficeEmailAddress] [varchar](50) NULL,
	[OrganizationCode] [varchar](10) NULL,
	[OrigAppointmentAuthCode1] [varchar](3) NULL,
	[OrigAppointmentAuthCode2] [varchar](3) NULL,
	[OwningRegion] [varchar](1) NULL,
	[PayAdjusted] [money] NULL,
	[BasicPay] [money] NULL,
	[AdjAmt] [money] NULL,
	[PayBasis] [varchar](10) NULL,
	[AnnualPay2087Hrs] [money] NULL,
	[Salary] [money] NULL,
	[PayPlan] [varchar](2) NULL,
	[PayRateDeterminant] [varchar](150) NULL,
	[PayRateDeterminantCode] [varchar](1) NULL,
	[Fund] [varchar](3) NULL,
	[PosAppropriationCode1] [varchar](50) NULL,
	[PositionDescriptionNum] [varchar](6) NULL,
	[PositionNumber] [varchar](10) NULL,
	[PositionSensitivity] [varchar](1) NULL,
	[PositionSensitivityDescription] [varchar](75) NULL,
	[PositionShred] [varchar](10) NULL,
	[PositionTitle] [varchar](100) NULL,
	[PosnOccupdSvceIdentfy] [varchar](1) NULL,
	[PosnOccupSvcIDDescription] [varchar](75) NULL,
	[PosOfficeSymbol] [varchar](10) NULL,
	[POIDCode] [varchar](4) NULL,
	[PosPersonnelOfficeId] [varchar](75) NULL,
	[PpSersGr] [varchar](10) NULL,
	[PremiumPayAmount] [int] NULL,
	[PremiumPayIndicator] [varchar](50) NULL,
	[RNOCode] [varchar](1) NULL,
	[RaceOrNationalOrigin] [varchar](100) NULL,
	[RecruitmentBonus] [int] NULL,
	[Region] [varchar](1) NULL,
	[RelocationAmount] [int] NULL,
	[RETCode] [varchar](1) NULL,
	[RetentionAmount] [int] NULL,
	[RetirementPlan] [varchar](100) NULL,
	[ScdCivilian] [date] NULL,
	[ScdLeave] [date] NULL,
	[ScdRetirement] [date] NULL,
	[ScdRif] [date] NULL,
	[SecClearanceEligibilityDate] [date] NULL,
	[SecInvestigationBasis] [varchar](15) NULL,
	[Serv05] [date] NULL,
	[Serv10] [date] NULL,
	[Serv15] [date] NULL,
	[Serv20] [date] NULL,
	[Serv25] [date] NULL,
	[Serv30] [date] NULL,
	[Serv35] [date] NULL,
	[Serv40] [date] NULL,
	[Serv45] [date] NULL,
	[Serv50] [date] NULL,
	[ServicingRegion] [varchar](1) NULL,
	[SesProbationEnds] [date] NULL,
	[SesProbExpires] [date] NULL,
	[SpvrMgrProbationCompleted] [varchar](75) NULL,
	[StepOrRate] [varchar](2) NULL,
	[SupervisoryStatusCode] [varchar](1) NULL,
	[SupervisoryStatus] [varchar](35) NULL,
	[TargetGrade] [varchar](5) NULL,
	[Tenure] [varchar](1) NULL,
	[TenureDesc] [varchar](150) NULL,
	[TypeEmploymentCode] [varchar](1) NULL,
	[TypeOfEmployment] [varchar](200) NULL,
	[TypeSchoolCode] [varchar](1) NULL,
	[TypeOfSchool] [varchar](100) NULL,
	[VeteransPreferenceCode] [varchar](1) NULL,
	[VeteransPreference] [varchar](50) NULL,
	[VeteransPreferenceRif] [varchar](5) NULL,
	[VeteranStatusCode] [varchar](1) NULL,
	[VeteransStatus] [varchar](50) NULL,
	[VetReadjustConversionDate] [date] NULL,
	[WgiDateDue] [date] NULL,
	[WgiLastIncreaseDate] [date] NULL,
	[WgiPayDate] [date] NULL,
	[WgiStatus] [varchar](20) NULL,
	[WgiStatusCode] [varchar](2) NULL,
	[WorkSchedule] [varchar](50) NULL,
	[WorkScheduleCode] [varchar](10) NULL,
	[YearDegreeCert] [int] NULL,
	[NumberofAssociates] [int] NULL,
	[OrgLongName] [varchar](175) NULL,
 CONSTRAINT [CHRISBO_pk] PRIMARY KEY NONCLUSTERED 
(
	[CHRISBO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
