USE [HRDW]
GO
/****** Object:  Table [LegacyCHRISBUSINTEL].[CHRISBI_930FY2004_2016]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LegacyCHRISBUSINTEL].[CHRISBI_930FY2004_2016](
	[CHRISBI_ID] [int] IDENTITY(1,1) NOT NULL,
	[FYDESIGNATION] [nvarchar](10) NULL,
	[Month_Name] [nvarchar](25) NULL,
	[RecordDate] [datetime] NULL,
	[PayPeriodEndDate] [datetime] NULL,
	[SocialSecurity] [nvarchar](15) NULL,
	[PersonID] [int] NULL,
	[EmployeeNumber] [int] NULL,
	[OfficeSymbol] [nvarchar](25) NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[VetPrefCode] [nvarchar](25) NULL,
	[VetPrefDesc] [nvarchar](50) NULL,
	[WorkTelephone] [nvarchar](100) NULL,
	[WorkCellPhone] [nvarchar](100) NULL,
	[WorkAddressLine1] [nvarchar](255) NULL,
	[WorkAddressLine2] [nvarchar](255) NULL,
	[WokAddressLine3] [nvarchar](255) NULL,
	[WorkBuilding] [nvarchar](255) NULL,
	[WorkCity] [nvarchar](100) NULL,
	[WorkCounty] [nvarchar](100) NULL,
	[WorkState] [nvarchar](50) NULL,
	[WorkZip] [nvarchar](20) NULL,
	[LeaveCategory] [nvarchar](50) NULL,
	[BirthMonth] [nvarchar](20) NULL,
	[BirthDate] [datetime] NULL,
	[AgeonRecdDte] [int] NULL,
	[AgeGroupingsRecordDate] [nvarchar](100) NULL,
	[GenerationDesignation] [nvarchar](100) NULL,
	[RNOCode] [nvarchar](10) NULL,
	[RNODesc] [nvarchar](255) NULL,
	[RNOCodeOld] [nvarchar](50) NULL,
	[RNODescOld] [nvarchar](255) NULL,
	[GenderDescription] [nvarchar](10) NULL,
	[HandicapCode] [nvarchar](10) NULL,
	[HandicapDesc] [nvarchar](255) NULL,
	[CitizenshipCode] [nvarchar](10) NULL,
	[CitizenshipDesc] [nvarchar](100) NULL,
	[AssignmentUserStatus] [nvarchar](100) NULL,
	[DetailType] [nvarchar](25) NULL,
	[DetailTypeDesc] [nvarchar](50) NULL,
	[LWOPDte] [datetime] NULL,
	[LWOPNTEStartDte] [datetime] NULL,
	[LWPDte] [datetime] NULL,
	[LWPNTEStartDte] [datetime] NULL,
	[SabaticalNTE] [datetime] NULL,
	[SabaticalNTEStartDte] [datetime] NULL,
	[SuspensionNTE] [datetime] NULL,
	[SuspensionNTEStartDte] [datetime] NULL,
	[TempPromoNTEDte] [datetime] NULL,
	[TempPromoNTEStartDte] [datetime] NULL,
	[TempReassignNTEDte] [datetime] NULL,
	[TempReassignNTEStartDte] [datetime] NULL,
	[PCN] [int] NULL,
	[PCNIndicator] [nvarchar](10) NULL,
	[PCNIndicatorDesc] [nvarchar](50) NULL,
	[Furlough_Indicator] [nvarchar](50) NULL,
	[Furlough_IndicatorDesc] [nvarchar](200) NULL,
	[TenureCode] [nvarchar](10) NULL,
	[TenureDesc] [nvarchar](50) NULL,
	[PDNumber] [nvarchar](10) NULL,
	[PosnSequenceNum] [nvarchar](50) NULL,
	[EncumberedType] [nvarchar](100) NULL,
	[PosnTitle] [nvarchar](100) NULL,
	[PPSeriesGr] [nvarchar](15) NULL,
	[SteporRate] [nvarchar](10) NULL,
	[JustGrade] [nvarchar](10) NULL,
	[Series] [nvarchar](50) NULL,
	[SeriesDesc] [nvarchar](255) NULL,
	[PosnOccCatCode] [nvarchar](50) NULL,
	[PosnOccDesc] [nvarchar](15) NULL,
	[ValidGradeLevel] [nvarchar](10) NULL,
	[TargetPP] [nvarchar](10) NULL,
	[TargetGradeLvl] [nvarchar](10) NULL,
	[MCOMissionCriticalOccupations] [nvarchar](255) NULL,
	[OCOOrganizationalCriticalOccupations] [nvarchar](255) NULL,
	[CyberCode] [nvarchar](100) NULL,
	[CyberCodeDesc] [nvarchar](255) NULL,
	[FLSACode] [nvarchar](50) NULL,
	[FLSADesc] [nvarchar](15) NULL,
	[BlockNumCode] [nvarchar](25) NULL,
	[BlockNumDesc] [nvarchar](200) NULL,
	[CompAreaCode] [nvarchar](10) NULL,
	[CompLvlCode] [nvarchar](10) NULL,
	[DutyStationCode] [nvarchar](9) NULL,
	[DutyStationName] [nvarchar](100) NULL,
	[DutyStationCounty] [nvarchar](100) NULL,
	[DutyStationStateCountry] [nvarchar](100) NULL,
	[CHRISBI_DS_Region] [nvarchar](10) NULL,
	[RegionBasedOnDutyStation] [nvarchar](10) NULL,
	[CoreBasedStatArea] [nvarchar](10) NULL,
	[CombinedStatArea] [nvarchar](10) NULL,
	[SupvStatusCode] [nvarchar](100) NULL,
	[SupvStatusDesc] [nvarchar](100) NULL,
	[SupvMgrProbationReqdCode] [nvarchar](100) NULL,
	[DteSESProbExpires] [datetime] NULL,
	[DteSupvMgrProbationReqdEnds] [datetime] NULL,
	[DrugTestCode] [nvarchar](10) NULL,
	[DrugTestDesc] [nvarchar](150) NULL,
	[KeyEmergencyEssential] [nvarchar](255) NULL,
	[KeyEmergencyEssentialDesc] [nvarchar](255) NULL,
	[WorkSchedCode] [nvarchar](10) NULL,
	[WorkScheduleDesc] [nvarchar](50) NULL,
	[PosnSensCode] [nvarchar](50) NULL,
	[PosnSensDesc] [nvarchar](200) NULL,
	[BargUnitCode] [nvarchar](50) NULL,
	[BargUnitDesc] [nvarchar](255) NULL,
	[TeleworkIndicator] [nvarchar](255) NULL,
	[TeleworkIndicatorDesc] [nvarchar](255) NULL,
	[TeleworkIneligibReasonCode] [nvarchar](255) NULL,
	[TeleworkIneligibReasonDesc] [nvarchar](255) NULL,
	[OrgLongName] [nvarchar](255) NULL,
	[Line1OrgName] [nvarchar](255) NULL,
	[Line2OrgName] [nvarchar](255) NULL,
	[Line3OrgName] [nvarchar](255) NULL,
	[Line4OrgName] [nvarchar](255) NULL,
	[Line5OrgName] [nvarchar](255) NULL,
	[Line6OrgName] [nvarchar](255) NULL,
	[DteProbTrialPeriodBegin] [datetime] NULL,
	[DteProbTrialPeriodEnd] [datetime] NULL,
	[DteConversionCareerDue] [datetime] NULL,
	[WGIDteDue] [datetime] NULL,
	[WGILastEquiIncreaseDte] [datetime] NULL,
	[PathwaysYN] [nvarchar](50) NULL,
	[CurrApptAuth1] [nvarchar](50) NULL,
	[CurrApptAuth1Desc] [nvarchar](255) NULL,
	[CurrApptAuth2] [nvarchar](50) NULL,
	[CurrApptAuth2Desc] [nvarchar](255) NULL,
	[TypeEmployCode] [nvarchar](100) NULL,
	[TypeEmployDesc] [nvarchar](100) NULL,
	[BasicSalaryRate] [money] NULL,
	[AdjSalary] [money] NULL,
	[TotalPay] [money] NULL,
	[PerHrTotalSalaryTotalPay] [money] NULL,
	[PayRateDeterminant] [nvarchar](50) NULL,
	[PayRateDeterminantDesc] [nvarchar](255) NULL,
	[InnuitantIndicatorCode] [nvarchar](50) NULL,
	[InnuitantIndicatorDesc] [nvarchar](255) NULL,
	[FinancialStatementCode] [nvarchar](50) NULL,
	[FiancialStatementDesc] [nvarchar](50) NULL,
	[PublicTrustIndicatorCode] [nvarchar](50) NULL,
	[PublicTrustIndicatorDesc] [nvarchar](50) NULL,
	[LatestHireDte] [datetime] NULL,
	[LastSeparationDte] [datetime] NULL,
	[DteArrivedPersonnelOffice] [datetime] NULL,
	[DteArrivedPresentGrade] [datetime] NULL,
	[DteSESAppointment] [datetime] NULL,
	[DteVRAConvDue] [datetime] NULL,
	[DteLastPromo] [datetime] NULL,
	[RetirementPlanCode] [nvarchar](50) NULL,
	[RetirementPlanDesc] [nvarchar](50) NULL,
	[ReserveCatCode] [nvarchar](100) NULL,
	[ReserveCatDesc] [nvarchar](100) NULL,
	[CreditableMilitaryService] [nvarchar](6) NULL,
	[SCDCiv] [datetime] NULL,
	[SCDLeave] [datetime] NULL,
	[Retirement_SCD] [datetime] NULL,
	[SCD_LengthOfService] [datetime] NULL,
	[SCD_RIF] [datetime] NULL,
	[Serv05] [datetime] NULL,
	[Serv10] [datetime] NULL,
	[Serv15] [datetime] NULL,
	[Serv20] [datetime] NULL,
	[Serv25] [datetime] NULL,
	[Serv30] [datetime] NULL,
	[Serv35] [datetime] NULL,
	[Serv40] [datetime] NULL,
	[Serv45] [datetime] NULL,
	[Serv50] [datetime] NULL,
	[YOSGSA] [decimal](6, 2) NULL,
	[YOS_FEDERAL] [decimal](6, 2) NULL,
	[HRDW_CER] [datetime] NULL,
	[ComputeEarlyRetire] [datetime] NULL,
	[ERFY] [nvarchar](25) NULL,
	[HRDW_COR] [datetime] NULL,
	[ComputeOptlRetire] [datetime] NULL,
	[ORFY] [nvarchar](25) NULL,
	[OwningRgn] [nvarchar](50) NULL,
	[ServingRgn] [nvarchar](50) NULL,
	[POICode] [nvarchar](150) NULL,
	[POIDesc] [nvarchar](150) NULL,
	[HSSOAbbrev] [nvarchar](15) NULL,
	[HSSOLong] [nvarchar](150) NULL,
	[AgcySubElementDesc] [nvarchar](100) NULL,
	[PosnSupervisor] [nvarchar](100) NULL,
	[PosnReportToSupvSSN] [nvarchar](20) NULL,
	[ReportToPosnOfficeSymbol] [nvarchar](20) NULL,
	[TeamLeaderName] [nvarchar](255) NULL,
	[FundingStatus] [nvarchar](255) NULL,
	[AppropCode1] [nvarchar](50) NULL,
	[FundCode] [nvarchar](50) NULL,
	[BudgetActivity] [nvarchar](50) NULL,
	[CostElement] [nvarchar](50) NULL,
	[ObjectClass] [nvarchar](50) NULL,
	[FundingBackfill] [nvarchar](50) NULL,
	[FundingBackfillDesc] [nvarchar](50) NULL,
	[FTE] [nvarchar](50) NULL,
	[FundStatusDesc] [nvarchar](100) NULL,
	[AvailForHiring] [nvarchar](50) NULL,
	[PosnDetailed] [nvarchar](50) NULL,
	[PositionObligated] [nvarchar](50) NULL,
	[ObligEmployeeFullName] [nvarchar](100) NULL,
	[ObligPosAgcySubelementDesc] [nvarchar](255) NULL,
	[ObligPosSensDesc] [nvarchar](255) NULL,
	[ObligOfficeSymbol] [nvarchar](75) NULL,
	[ObligPCN] [int] NULL,
	[ObligPCNIndicator] [nvarchar](150) NULL,
	[ObligPosnTitle] [nvarchar](150) NULL,
	[ObligPDNum] [nvarchar](75) NULL,
	[ObligSeqNum] [nvarchar](50) NULL,
	[ObligSeriesCode] [nvarchar](50) NULL,
	[ObligSeriesDesc] [nvarchar](255) NULL,
	[ObligSupvStatusDesc] [nvarchar](255) NULL,
	[ObligValidPayPlan] [nvarchar](10) NULL,
	[ObligValidGradeorLvl] [nvarchar](10) NULL,
	[ObligSupvStatusCode] [nvarchar](10) NULL,
	[ObligFundStatus] [nvarchar](10) NULL,
	[ObligFundStatusDesc] [nvarchar](25) NULL,
	[ObligOccupCatCode] [nvarchar](4) NULL,
	[ObligOccupCatDesc] [nvarchar](25) NULL,
	[ObligPosnEncumberedType] [nvarchar](25) NULL,
	[ObligReportToSupvSSN] [nvarchar](11) NULL,
	[ObligSupvName] [nvarchar](100) NULL,
	[ObligReportToTeamLeaderSSN] [nvarchar](11) NULL,
	[ObligTeamLeaderName] [nvarchar](100) NULL,
	[DetailedEmployeeFullName] [nvarchar](100) NULL,
	[DetailNTEStartDte] [datetime] NULL,
	[DetailNTEDte] [datetime] NULL,
	[DetailOfficeSymbol] [nvarchar](10) NULL,
	[DetailPCN] [int] NULL,
	[DetailPCNIndicator] [nvarchar](100) NULL,
	[DetailPosnTitle] [nvarchar](150) NULL,
	[DetailPDNumber] [nvarchar](75) NULL,
	[DetailPosSeqNum] [nvarchar](25) NULL,
	[DetailSeries] [nvarchar](50) NULL,
	[DetailSeriesDesc] [nvarchar](255) NULL,
	[DetailSupvStatusCode] [nvarchar](10) NULL,
	[Detail_FundStatus] [nvarchar](25) NULL,
	[Detail_FundStatusDesc] [nvarchar](255) NULL,
	[DetailOccupCatCode] [nvarchar](50) NULL,
	[DetailOccupCodeDesc] [nvarchar](255) NULL,
	[DetailPosnEncumberedType] [nvarchar](25) NULL,
	[DetailPosnSensDesc] [nvarchar](255) NULL,
	[DetailSupvDesc] [nvarchar](125) NULL,
	[DetailValidPayPlan] [nvarchar](10) NULL,
	[DetailValidGradeorLvl] [nvarchar](10) NULL,
	[DetailFundStatusDesc] [nvarchar](25) NULL,
	[DetailReportToSupvSSN] [nvarchar](15) NULL,
	[DetailSupervsior] [nvarchar](150) NULL,
	[DetailReportToTeamLeaderSSN] [nvarchar](11) NULL,
	[DetailTeamLeader] [nvarchar](150) NULL,
	[AcadInstitCode] [nvarchar](10) NULL,
	[AcadInstitDesc] [nvarchar](255) NULL,
	[CollegMajMinorCode] [nvarchar](10) NULL,
	[CollegMajMinorDesc] [nvarchar](255) NULL,
	[EducLvlCode] [nvarchar](50) NULL,
	[EducLvlDesc] [nvarchar](150) NULL,
	[YrDegreeCertAttained] [int] NULL,
 CONSTRAINT [CHRISBI_pk] PRIMARY KEY NONCLUSTERED 
(
	[CHRISBI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
