USE [HRDW]
GO
/****** Object:  Table [LMS].[DIVISION]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LMS].[DIVISION](
	[DivisionID] [nvarchar](25) NOT NULL,
	[DivisionName] [nvarchar](255) NULL,
	[POCName] [nvarchar](100) NULL,
	[POCOrganization] [nvarchar](25) NULL,
 CONSTRAINT [aaaaaDIVISION_PK] PRIMARY KEY NONCLUSTERED 
(
	[DivisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
