USE [HRDW]
GO
/****** Object:  Table [LMS].[AGENCY]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LMS].[AGENCY](
	[AgencyName] [nvarchar](255) NOT NULL,
	[NextUserID] [int] NULL,
	[Title] [nvarchar](255) NULL,
 CONSTRAINT [AGENCY_PK] PRIMARY KEY NONCLUSTERED 
(
	[AgencyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
