USE [HRDW]
GO
/****** Object:  Table [REPORTING].[EmployeePayStatus]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [REPORTING].[EmployeePayStatus](
	[EmpPayStatusID] [int] IDENTITY(1,1) NOT NULL,
	[SSN] [nvarchar](255) NOT NULL,
	[AGY] [nvarchar](4) NULL,
	[PAY_STATUS_CD] [nvarchar](4) NULL,
	[PAY_STATUS_DESC] [nvarchar](255) NULL,
 CONSTRAINT [EmpPayStatusID_pk] PRIMARY KEY NONCLUSTERED 
(
	[EmpPayStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
