USE [HRDW]
GO
/****** Object:  Table [STAFFING].[TBLSALARYPROJECTIONSINDIVIDUAL]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STAFFING].[TBLSALARYPROJECTIONSINDIVIDUAL](
	[INDIVPROJID] [int] IDENTITY(1,1) NOT NULL,
	[SSN] [varchar](255) NULL,
	[PERIODNAME] [varchar](255) NULL,
	[FROMDATE] [varchar](255) NULL,
	[TODATE] [varchar](255) NULL,
	[REGION] [varchar](255) NULL,
	[VACANCYID] [numeric](10, 0) NULL,
	[NAME] [varchar](255) NULL,
	[ORGCODE] [varchar](255) NULL,
	[SALARY] [numeric](13, 2) NULL,
	[BENEFITS] [numeric](13, 2) NULL,
	[SERVICECODE] [varchar](255) NULL,
	[FUND] [varchar](255) NULL,
 CONSTRAINT [TBLSALARYPROJECTIONSINDIVIDUAL_PK] PRIMARY KEY NONCLUSTERED 
(
	[INDIVPROJID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
