USE [HRDW]
GO
/****** Object:  Table [STAFFING].[TBLVACANCIES]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STAFFING].[TBLVACANCIES](
	[TBLVACANCYID] [int] IDENTITY(1,1) NOT NULL,
	[VACANCYID] [numeric](10, 0) NOT NULL,
	[POSITIONCONTROLNO] [varchar](255) NULL,
	[REGION] [varchar](2) NULL,
	[SERVICEABBR] [varchar](20) NULL,
	[ORGSYMBOL] [varchar](10) NULL,
	[TITLE] [varchar](100) NULL,
	[JOBCATID] [numeric](10, 0) NULL,
	[SERIES] [numeric](10, 0) NULL,
	[PAYPLAN] [varchar](10) NULL,
	[GRADESTART] [numeric](10, 0) NULL,
	[FPL] [numeric](10, 0) NULL,
	[DUTYSTATIONCODE] [varchar](16) NULL,
	[REASONID] [numeric](10, 0) NULL,
	[FILLMETHODID] [numeric](10, 0) NULL,
	[FILLEDFROMORG] [varchar](50) NULL,
	[COMMENTS] [varchar](255) NULL,
	[VACANCYCATEGORY] [varchar](255) NULL,
	[CANCELLED] [varchar](255) NULL,
	[VACANCYSTAGE] [varchar](255) NULL,
	[REQUESTDATE] [varchar](255) NULL,
	[HIREDATEACTUAL] [varchar](255) NULL,
	[BACKFILLNEEDED] [varchar](255) NULL,
	[BACKFILLGRADE] [varchar](255) NULL,
	[INCENTIVE] [numeric](13, 2) NULL,
	[FUND] [varchar](255) NULL,
 CONSTRAINT [TBLVACANCIES_pk] PRIMARY KEY NONCLUSTERED 
(
	[TBLVACANCYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
