USE [HRDW]
GO
/****** Object:  Table [STAFFING].[USAJobs]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STAFFING].[USAJobs](
	[USAJobsID] [int] IDENTITY(1,1) NOT NULL,
	[RunDate] [date] NOT NULL,
	[Created By (Vacancy)] [nvarchar](255) NULL,
	[HR Manager Userid] [nvarchar](255) NULL,
	[Announcement Number] [nvarchar](255) NULL,
	[Announcement Types - List] [nvarchar](255) NULL,
	[Position Title] [nvarchar](255) NULL,
	[Series - List] [nvarchar](255) NULL,
	[Grades - List] [nvarchar](255) NULL,
	[Open (Posted) Date] [date] NULL,
	[Close Date] [date] NULL,
	[Duty Location Total Openings] [nvarchar](255) NULL,
	[# of Applications Received] [nvarchar](255) NULL,
	[Applicant Eligibility Internal - Y/N] [nvarchar](255) NULL,
	[Applicant Eligibility Public - Y/N] [nvarchar](255) NULL,
	[Public Status - Y/N] [nvarchar](255) NULL,
	[# of Applicants Referred - Vacancy] [nvarchar](255) NULL,
	[# of Qualified applicants] [nvarchar](255) NULL,
	[Org Name] [nvarchar](255) NULL,
	[# of Applications Received (Distinct)] [nvarchar](255) NULL,
	[Address1 (Vacancy)] [nvarchar](255) NULL,
	[Address2 (Vacancy)] [nvarchar](255) NULL,
	[Address3 (Vacancy)] [nvarchar](255) NULL,
	[Annc Approval Process] [nvarchar](255) NULL,
	[Annc Case File Closeout Date] [date] NULL,
	[Annc Creation and approval process] [nvarchar](255) NULL,
	[Annc Creation Process] [nvarchar](255) NULL,
	[Annc Open Period] [nvarchar](255) NULL,
	[Annc Open Process] [nvarchar](255) NULL,
	[Announcement ID] [nvarchar](255) NULL,
	[Announcement Additional Reference ID] [nvarchar](255) NULL,
	[Applicant Eligibility Status - Y/N] [nvarchar](255) NULL,
	[Applicant Eligibility USAJobs Internal - Y/N] [nvarchar](255) NULL,
	[Application Limit] [nvarchar](255) NULL,
	[Approved by HR Date] [date] NULL,
	[Approved to Recruit Date] [date] NULL,
	[Area of Consideration - step 1 vacancy builder] [nvarchar](255) NULL,
	[Best Qualified Designator Userid] [nvarchar](255) NULL,
	[Best Qualified Designator] [nvarchar](255) NULL,
	[Cancel Date] [date] NULL,
	[Career Level] [nvarchar](255) NULL,
	[City (Vacancy)] [nvarchar](255) NULL,
	[Close Date - Average for SR] [date] NULL,
	[Create Date (Vacancy)] [date] NULL,
	[Cut Date - List] [nvarchar](255) NULL,
	[Cut Date - Most Recent] [date] NULL,
	[Cycle Time - Days to Closeout] [nvarchar](255) NULL,
	[Days to Issue Cert (Date)] [nvarchar](255) NULL,
	[Duration Appt (Vacancy)] [nvarchar](255) NULL,
	[Duration Code] [nvarchar](255) NULL,
	[Duty Locations - List] [nvarchar](255) NULL,
	[Duty Locations - Zip Code List] [nvarchar](255) NULL,
	[Eligibility Set] [nvarchar](255) NULL,
	[Eligibility Set Description] [nvarchar](255) NULL,
	[EOD Date (Vacancy)] [date] NULL,
	[Exclusive Posting - Y/N] [nvarchar](255) NULL,
	[Grade Association - Y/N] [nvarchar](255) NULL,
	[Grade High] [nvarchar](255) NULL,
	[Grade Low] [nvarchar](255) NULL,
	[Hire Date (Vacancy)] [nvarchar](255) NULL,
	[Hiring Agency Code] [nvarchar](255) NULL,
	[Hiring Agency] [nvarchar](255) NULL,
	[HR Manager] [nvarchar](255) NULL,
	[Interdisciplinary - Y/N] [nvarchar](255) NULL,
	[Job Analysis] [nvarchar](255) NULL,
	[Last Update Date (Vacancy)] [date] NULL,
	[Last Updated By (Vacancy)] [nvarchar](255) NULL,
	[Locked - Y/N] [nvarchar](255) NULL,
	[Retained - Y/N] [nvarchar](255) NULL,
	[Monster.com Posting ID - List] [nvarchar](255) NULL,
	[Monster.com Recruiter Name] [nvarchar](255) NULL,
	[Multiple Certificates - Y/N (Vacancy)] [nvarchar](255) NULL,
	[Notify Applicants of Expiration - Y/N] [nvarchar](255) NULL,
	[Notify Applicants of New Vacancy - Y/N] [nvarchar](255) NULL,
	[Notify Diversity - Y/N] [nvarchar](255) NULL,
	[Num Days for Expiration] [nvarchar](255) NULL,
	[Offer Date (Vacancy)] [date] NULL,
	[Organization Contact Name] [nvarchar](255) NULL,
	[Organization Contact Phone] [nvarchar](255) NULL,
	[Part Time - Y/N] [nvarchar](255) NULL,
	[Pay Plan] [nvarchar](255) NULL,
	[Pay Type] [nvarchar](255) NULL,
	[Phasing - Y/N] [nvarchar](255) NULL,
	[Percentage Qualified] [nvarchar](255) NULL,
	[Position Description Identifier] [nvarchar](255) NULL,
	[Promotion Potential] [nvarchar](255) NULL,
	[Relocation Authorized - Y/N] [nvarchar](255) NULL,
	[Relocation Description] [nvarchar](255) NULL,
	[Received Date (Vacancy)] [date] NULL,
	[Request Number] [nvarchar](255) NULL,
	[Request Personnel Action] [nvarchar](255) NULL,
	[Requesting Official] [nvarchar](255) NULL,
	[Review Position Description] [nvarchar](255) NULL,
	[Salary High] [nvarchar](255) NULL,
	[Salary Low] [nvarchar](255) NULL,
	[Scoring Option] [nvarchar](255) NULL,
	[Security Clearance Required] [nvarchar](255) NULL,
	[Selected Date (Vacancy)] [date] NULL,
	[Selecting Official Userid] [nvarchar](255) NULL,
	[Selecting Official] [nvarchar](255) NULL,
	[Selection Process] [nvarchar](255) NULL,
	[Send to Monster.com - Y/N] [nvarchar](255) NULL,
	[Send to USAJobs - Y/N] [nvarchar](255) NULL,
	[Series Parenthetical] [nvarchar](255) NULL,
	[Standing Register - Y/N] [nvarchar](255) NULL,
	[State (Vacancy)] [nvarchar](255) NULL,
	[Student Employment Code] [nvarchar](255) NULL,
	[Summer Employment - Y/N] [nvarchar](255) NULL,
	[Supervisory Position - Y/N] [nvarchar](255) NULL,
	[Time from Annc Approval to Open] [nvarchar](255) NULL,
	[Total Number Positions being filled by the announcement] [nvarchar](255) NULL,
	[Travel Description] [nvarchar](255) NULL,
	[Travel Required] [nvarchar](255) NULL,
	[USAJobs TDD Phone] [nvarchar](255) NULL,
	[UDF Fields - List] [nvarchar](255) NULL,
	[USAJobs Control Number] [nvarchar](255) NULL,
	[USAJobs Job ID] [nvarchar](255) NULL,
	[USAJobs User Name] [nvarchar](255) NULL,
	[USAJobs Userid] [nvarchar](255) NULL,
	[Vacancy Contact Email] [nvarchar](255) NULL,
	[Vacancy Contact Fax] [nvarchar](255) NULL,
	[Vacancy Contact Name] [nvarchar](255) NULL,
	[Vacancy Contact Phone] [nvarchar](255) NULL,
	[Vacancy Custom Status] [nvarchar](255) NULL,
	[Vacancy Status] [nvarchar](255) NULL,
	[Vacancy Status ID] [nvarchar](255) NULL,
	[Validate Need Date] [date] NULL,
	[Well Qualified Score] [nvarchar](255) NULL,
	[Zip (Vacancy)] [nvarchar](255) NULL,
	[Based on Announcement template - Y/N] [nvarchar](255) NULL,
	[Template Name] [nvarchar](255) NULL,
	[Terminated Announcement - Y/N] [nvarchar](255) NULL,
	[Announcement Termination Date] [date] NULL,
	[Date of Last Appointment from Register] [nvarchar](255) NULL,
	[Successor Register Announcement - Y/N] [nvarchar](255) NULL,
	[Successor Register Announcement Number] [nvarchar](255) NULL,
	[Announcement Type (Application)] [nvarchar](255) NULL,
	[Announcement Type ID (Application)] [nvarchar](255) NULL,
	[Cut Date] [date] NULL,
	[Duty Location] [nvarchar](255) NULL,
	[Duty Location Code] [nvarchar](255) NULL,
	[Duty Location - Zip Code] [nvarchar](255) NULL,
	[Duty Location Num of Positions] [nvarchar](255) NULL,
	[Duty Location Sequence Num] [nvarchar](255) NULL,
	[Grade (Vacancy)] [nvarchar](255) NULL,
	[Grade Salary High] [nvarchar](255) NULL,
	[Grade Salary Low] [nvarchar](255) NULL,
	[Monster.com Posting ID] [nvarchar](255) NULL,
	[Phase Assessment Name] [nvarchar](255) NULL,
	[Phase Assessment Vendor] [nvarchar](255) NULL,
	[Phase ID] [nvarchar](255) NULL,
	[Phase Imported - Y/N] [nvarchar](255) NULL,
	[Phase Maximum Score Possible] [nvarchar](255) NULL,
	[Phase Minimum Score Possible] [nvarchar](255) NULL,
	[Phase Name] [nvarchar](255) NULL,
	[Phase Order] [nvarchar](255) NULL,
	[Phase Percentage of Total] [nvarchar](255) NULL,
	[Phase Type] [nvarchar](255) NULL,
	[Series Description] [nvarchar](255) NULL,
	[Series Number] [nvarchar](255) NULL,
	[UDF Field - Label] [nvarchar](255) NULL,
	[UDF Field - Is Active Y/N] [nvarchar](255) NULL,
	[UDF Field - Is Required Y/N] [nvarchar](255) NULL,
	[UDF Field - Type] [nvarchar](255) NULL,
	[UDF Field - Value] [nvarchar](255) NULL,
	[Template Name2] [nvarchar](255) NULL,
	[Active Y/N] [nvarchar](255) NULL,
	[Position Title2] [nvarchar](255) NULL,
	[Series Parenthetical2] [nvarchar](255) NULL,
	[Series List] [nvarchar](255) NULL,
	[Grades List] [nvarchar](255) NULL,
	[Announcement Type] [nvarchar](255) NULL,
	[Standing Register2 - Y/N] [nvarchar](255) NULL,
	[Interdisciplinary2 - Y/N] [nvarchar](255) NULL,
	[Exclusive Posting2 - Y/N] [nvarchar](255) NULL,
	[Part Time2 - Y/N] [nvarchar](255) NULL,
	[Phasing2 - Y/N] [nvarchar](255) NULL,
	[Relocation Authorized2 - Y/N] [nvarchar](255) NULL,
	[Relocation Description2] [nvarchar](255) NULL,
	[Security Clearance Required2] [nvarchar](255) NULL,
	[Supervisory Position2 - Y/N] [nvarchar](255) NULL,
	[Travel Description2] [nvarchar](255) NULL,
	[Travel Required2] [nvarchar](255) NULL,
	[Traffic Source/DIN Organization] [nvarchar](255) NULL,
	[Email Notification Template Name ] [nvarchar](255) NULL,
	[Notification Creation Date ] [date] NULL,
	[Referring Site Shared URL ] [nvarchar](255) NULL,
	[# of Referring Site Shared URL Clicks] [nvarchar](255) NULL,
	[Unique Visitors to Account Creation Page] [nvarchar](255) NULL,
	[Page Views - Account Creation] [nvarchar](255) NULL,
	[Abandonment Rate of Account Creation Process (%)] [nvarchar](255) NULL,
	[Account Creation Completion Rate (%)] [nvarchar](255) NULL,
	[Unique Visitors to Eligibility Questions Page] [nvarchar](255) NULL,
	[Page Views - Eligibility Questions] [nvarchar](255) NULL,
	[Abandonment Rate for Eligibility Questions Page (%)] [nvarchar](255) NULL,
	[Job Application Conversion Rate (%)] [nvarchar](255) NULL,
	[Hire Conversion Rate (%)] [nvarchar](255) NULL,
 CONSTRAINT [USAJobs_pk] PRIMARY KEY NONCLUSTERED 
(
	[USAJobsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [STAFFING].[USAJobs] ADD  DEFAULT (getdate()) FOR [RunDate]
GO
