USE [HRDW]
GO
/****** Object:  Table [STAFFING].[TBLSERVICES]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STAFFING].[TBLSERVICES](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[SERVICECODE] [varchar](255) NOT NULL,
	[SERVICENAME] [varchar](255) NULL,
	[SERVICEABBR] [varchar](255) NULL,
	[SERVICESYMBOL] [varchar](255) NULL,
	[SERVICEFUND] [varchar](255) NULL,
	[SERVICEORG] [varchar](255) NULL,
	[SERVICENOTES] [varchar](255) NULL,
	[SERVICEBEGIN] [varchar](255) NULL,
	[SERVICEEND] [varchar](255) NULL,
	[SERVICEFROMPAR] [varchar](255) NULL,
	[REGIONFROMPAR] [varchar](255) NULL,
 CONSTRAINT [TBLSERVICES_pk] PRIMARY KEY NONCLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
