USE [HRDW]
GO
/****** Object:  Table [STAFFING].[TBLFYPROJECTIONBYPP_SVC]    Script Date: 5/1/2018 1:39:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STAFFING].[TBLFYPROJECTIONBYPP_SVC](
	[FYPROJECTIONID] [int] IDENTITY(1,1) NOT NULL,
	[FY] [numeric](10, 0) NULL,
	[ITEM] [varchar](255) NULL,
	[SERVICECODE] [varchar](255) NULL,
	[PPEDATE] [varchar](255) NULL,
	[PPNO] [numeric](10, 0) NULL,
	[EMPLOYEECOUNT] [numeric](10, 0) NULL,
	[VACANCYCOUNT] [numeric](10, 0) NULL,
	[BASEPAY] [numeric](13, 2) NULL,
	[BIWEEKLYBENEFITS] [numeric](13, 2) NULL,
	[BIWEEKLYTOTAL] [numeric](13, 2) NULL,
	[OVERTIME] [numeric](13, 2) NULL,
	[OVERTIMEEXCEEDED] [numeric](1, 0) NOT NULL,
	[AWARDS] [numeric](13, 2) NULL,
	[AWARDSEXCEEDED] [numeric](1, 0) NOT NULL,
	[BUYOUTS] [numeric](13, 2) NULL,
	[BUYOUTSEXCEEDED] [numeric](1, 0) NOT NULL,
	[TERMINALLEAVE] [numeric](13, 2) NULL,
	[TERMINALLEAVEEXCEEDED] [numeric](1, 0) NOT NULL,
	[OTHERCOSTS] [numeric](13, 2) NULL,
	[ATTRITIONSAVINGS] [numeric](13, 2) NULL,
	[COSTTOTAL] [numeric](13, 2) NULL,
	[PRORATED] [numeric](18, 0) NULL,
	[SORTORDER] [numeric](10, 0) NULL,
	[SERVICEFUND] [varchar](255) NULL,
 CONSTRAINT [TBLFYPROJECTIONBYPP_SVC_PK] PRIMARY KEY NONCLUSTERED 
(
	[FYPROJECTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [STAFFING].[TBLFYPROJECTIONBYPP_SVC] ADD  DEFAULT ((0)) FOR [OVERTIMEEXCEEDED]
GO
ALTER TABLE [STAFFING].[TBLFYPROJECTIONBYPP_SVC] ADD  DEFAULT ((0)) FOR [AWARDSEXCEEDED]
GO
ALTER TABLE [STAFFING].[TBLFYPROJECTIONBYPP_SVC] ADD  DEFAULT ((0)) FOR [BUYOUTSEXCEEDED]
GO
ALTER TABLE [STAFFING].[TBLFYPROJECTIONBYPP_SVC] ADD  DEFAULT ((0)) FOR [TERMINALLEAVEEXCEEDED]
GO
